#akbank.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  AKBANK 
        p.lead
          | Project is obsolete...
        p.lead
          | Akbank reached us to promote Akbank Jazz Festival with a robot who listens Istanbuls sound and draws pictures on tshirts. 
          | Attendees won robojazz tshirts. This campaing was a facebook app and now closed.
          | I was the lead front-end developer, and backend code belongs to 
          a(href='http://blog.feyzo.net/') Feyzo Dwe
          | .
        .frame
          img(src='images/projects/akbank/1.jpg', alt='')
        .frame
          img(src='images/projects/akbank/2.jpg', alt='')
        .frame
          img(src='images/projects/akbank/3.jpg', alt='')
        include toTop