#extrasolar.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  EXTRASOLAR by Lazy 8 Studios 
        p.lead
          a(target='_blank', href='http://www.extrasolar.com') http://www.extrasolar.com
        p.lead
          | On GDC 2012 I've met with 
          a(href='http://www.lazy8studios.com/', target='_blank') Lazy 8 Studios
          | (Rob Jagnow and Brendan Mauro), They gave me the chance to work on their upcoming web based game. 
          | I was the front-end developer of the web interface. The project is 
          |  a 
          a(href='http://www.igf.com/php-bin/entry2014.php?id=1741', target='_blank') nuovo nominee
          |  for the Independent Games Festival!
        .frame
          img(src='images/projects/extrasolar/1.jpg', alt='')
        .frame
          img(src='images/projects/extrasolar/2.jpg', alt='')
        .frame
          img(src='images/projects/extrasolar/3.jpg', alt='')
        .frame
          img(src='images/projects/extrasolar/4.jpg', alt='')
        .frame
          img(src='images/projects/extrasolar/5.jpg', alt='')
        .frame
          img(src='images/projects/extrasolar/6.jpg', alt='')
