#ggj2017.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  GLOBAL GAME JAM 2017
        h2  Wave Of Democracy
        p.lead
          | During global game jam 2017, we developed a game named "Wave of Democracy" for the theme "Wave", with the team of 4.
          | I was the Unity, Graphic Creator of the project. 
          br
          | 
          a(href='https://arhpositive.itch.io/wave-of-democracy', target='_blank') Source and GGJ Page
          br
        .frame
          img(src='images/projects/waveofdemocracy/1.png', alt='')
        .frame
          img(src='images/projects/waveofdemocracy/2.png', alt='')
        .frame
          img(src='images/projects/waveofdemocracy/3.png', alt='')
