#ggj2013.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  GLOBAL GAME JAM 2013 
        h2  RUN MELAHAT RUN 
        p.lead
          | During global game jam 2013 istanbul we developed a small arcade autorunner named Run Melahat Run for 2 days with a team of 4. 
          | I was the Unity programmer of the project. You can play the 
          a(href='http://volkanongun.com/games/ggj2013/ggj.html', target='_blank') here
          | .
          br
          | 
          a(href='http://2013.globalgamejam.org/2013/run-melahat-run', target='_blank') Source and GGJ Page
        .frame
          img(src='images/projects/melo/1.png', alt='')
        .frame
          img(src='images/projects/melo/2.png', alt='')
        .frame
          img(src='images/projects/melo/3.png', alt='')
        include toTop