#ggj2016.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  GLOBAL GAME JAM 2016
        h2  THE CALL
        p.lead
          | During global game jam 2016, we developed a game named "The Call" for the theme "Ritual", with the team of 6.
          | I was the Unity, Graphic Creator of the project. 
          br
          | 
          a(href='http://globalgamejam.org/2016/games/call', target='_blank') Source and GGJ Page
          br
        .frame
          img(src='images/projects/thecall/1.png', alt='')
        .frame
          img(src='images/projects/thecall/2.png', alt='')
        .frame
          img(src='images/projects/thecall/3.png', alt='')
        include toTop