#innovationJam.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  INNOVATION GAME JAM (2016)
        h2  FACTORY TROUBLE
        p.lead
          | During Innovation Game Jam, we developed a game named "Factory Trouble" for the theme "Power of Harmony", with the team of 2. 
          | I was the 3D artist, and game designer of the project.
          br
          a(href='https://arhpositive.itch.io/factory-trouble', target='_blank') Web Built at Itch.io
          br
          a(href='https://volkanongun@bitbucket.org/volkanongun/factorytrouble.git', target='_blank') Source Code
          br
        .frame
          img(src='images/projects/factorytrouble/factorytrouble1.png', alt='')
        .frame
          img(src='images/projects/factorytrouble/factorytrouble2.png', alt='')
        .frame
          img(src='images/projects/factorytrouble/factorytrouble3.png', alt='')
