#istinyepark.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  İSTİNYEPARK 
        p.lead
          a(target='_blank', href='http://www.istinyepark.com/') http://www.istinyepark.com
        p.lead
          | İstinyepark is a famous shopping mall of İstanbul and they reached us to renew their site. 
          | This website is coded responsive with the help off Sass - Compass, I was the lead front-end developer,
          | backend code belongs 
          a(href='http://blog.feyzo.net/') Feyzo Dwe
          | .
        .frame
          img(src='images/projects/istinyepark/1.png', alt='')
        .frame
          img(src='images/projects/istinyepark/2.png', alt='')
        .frame
          img(src='images/projects/istinyepark/3.png', alt='')
        include toTop