#itf2015.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  ISTANBUL TANGO FESTIVAL 2015

        p.lead
          a(target='_blank', href='http://itf.volkanongun.com/') http://itf.volkanongun.com

        p.lead
          | Istanbul Tango Festival 2015 website is built with Node.js, Express framework
          | and OO Javascript user interface. Design, programming and admin panel programming
          | is done by me.

        p.lead
  
        .frame
          img(src='images/projects/ITF/p1.png', alt='')
        .frame
          img(src='images/projects/ITF/reg-1.png', alt='')
        .frame
          img(src='images/projects/ITF/reg-3.png', alt='')
        .frame
          img(src='images/projects/ITF/workshops.png', alt='')
        .frame
          img(src='images/projects/ITF/admin.png', alt='')
        .frame
          img(src='images/projects/ITF/admin-2.png', alt='')
        .frame
          img(src='images/projects/ITF/class.png', alt='')
        .frame
          img(src='images/projects/ITF/finance.png', alt='')

        include toTop