#kinder.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  KINDER 
        p.lead
          a(target='_blank', href='Facebook App') https://www.facebook.com/KinderSurpriseTurkiye/app_407513409383218
        p.lead
          | Kinder reached us for a facebook app to promote the ® Kinder Surprise product. 
          | We prepared an app based on video to capture the funny moments
          | of the children who refuses to give their Kinder Surprises back. 
          | I was the lead front-end developer, backend code belongs to 
          a(href='http://blog.feyzo.net/') Feyzo Dwe
          | .
        p.lead
          | User Experience design started with wireframes and continued with working 
          | prototype of the whole app.
          | .
          |                                         Sass, Bootstrap, and HTML and Javascript is used..
        .frame
          img(src='images/projects/kinder/1.png', alt='')
        .frame
          img(src='images/projects/kinder/2.png', alt='')
        .frame
          img(src='images/projects/kinder/3.png', alt='')
        .frame
          img(src='images/projects/kinder/4.png', alt='')
        .frame
          img(src='images/projects/kinder/5.png', alt='')
        .frame
          img(src='images/projects/kinder/6.png', alt='')
