#koding.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  Koding 
        p.lead
          | Design is different : 
          a(target='_blank', href='http://www.koding.com/') http://www.koding.com
        p.lead
          | Koding is a Turkish based start-up which makes cloud computing and collaborative web apps/sites easier.
          | Founder Devrim and co-founder Sinan gave me the chance to work on the early stages of project.
          | Its technology includes Node.js, mongo.db, coffeescript, stylus, modified version of node express.
          | I was the front-end developer.
        .frame
          img(src='images/projects/koding/activity.png', alt='')
        .frame
          img(src='images/projects/koding/codeview.png', alt='')
        .frame
          img(src='images/projects/koding/invites.png', alt='')
        .frame
          img(src='images/projects/koding/members.png', alt='')
        .frame
          img(src='images/projects/koding/settings.png', alt='')
