#loreal.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  LOREAL 
        p.lead
          a(target='_blank', href='http://skinperfection.lorealparis.com.tr/') http://skinperfection.lorealparis.com.tr/
        p.lead
          | Loreals skin perfection campaign promotion site. Visitors watched the google
          | hangouts and dermatologists recommendations on how to use the skin perfecion
          | products. Also visitors can analyze their skin with an app to measure pores,
          | texture and tone. Project is coded responsive and I was the lead front-end developer.
        .frame
          img(src='images/projects/loreal/skin/1.png', alt='')
        .frame
          img(src='images/projects/loreal/skin/2.png', alt='')
        .frame
          img(src='images/projects/loreal/skin/3.png', alt='')
        .frame
          img(src='images/projects/loreal/skin/4.png', alt='')
        include toTop