#macfit.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  MACFIT 
        p.lead
          a(target='_blank', href='http://www.macfit.com.tr/') http://www.macfit.com.tr
        p.lead
          | Macfit is a turkey based gym-club and they reached Mccann to increase the subscription rate 
          | the the club. This is a parallax based website which is maintained and optimized by me and
          a(href='http://blog.feyzo.net/') Feyzo Dwe
          | . I was the lead front-end developer.
        h1  MACFIT WEB 
        .frame
          img(src='images/projects/macfit/web/1.png', alt='')
        .frame
          img(src='images/projects/macfit/web/2.png', alt='')
        .frame
          img(src='images/projects/macfit/web/3.png', alt='')
        .frame
          img(src='images/projects/macfit/web/4.png', alt='')
        h1  MACFIT IPHONE 
        p.lead
          | From your mobile device visit : 
          a(target='_blank', href='http://www.macfit.com.tr/') http://www.macfit.com.tr
        p
          | iPhone website coded and maintained regularly.
        .frame.iphone
          img(src='images/projects/macfit/iphone/1.png', alt='')
        .frame.iphone
          img(src='images/projects/macfit/iphone/2.png', alt='')
        h1  MACFIT IPAD 
        p.lead
          | iPad website coded and maintained regularly.
        .frame
          img(src='images/projects/macfit/ipad/1.png', alt='')
        .frame
          img(src='images/projects/macfit/ipad/2.png', alt='')
        .frame
          img(src='images/projects/macfit/ipad/3.png', alt='')
