
#main.pagecont(role='main')
  article.idcard
    .profilepic
    p.name
      span.glitch(data-text='VOLKAN ONGUN') VOLKAN ONGUN
    p.rank
      | Web Product Engineer
    p.keyb
      | press 
      strong M | Space
      |  to toggle menu, and 
      strong esc
      |  to close it

  article.aboutme
    .container.plain
      .row
        .col-md-8.col-md-offset-2
          .jumbotron
            h1  ABOUT ME 
            p.lead Hi, my name is Volkan. I like to solve interaction and user experience problems and develop new interfaces/web applications with javascript programming. I have 7 years of javascript programming background, from object oriented and vanilla javascript to famous frameworks such as react.js, express, mongo.db and backend programming with node.js. Feel free to view some 
              a(href="http://www.bitbucket.com/volkanongun" target="_blank")  bitbucket
              | ,
              a(href="http://www.github.com/volkanongun" target="_blank")  github
              | source codes i developed recently.

            p I've been working with international and local start-ups and digital agencies for 9 years as front-end developer, ui/ux developer. Depending on the projects i create wireframes and prototypes of the product and iterate this process in order to reach the functional and simple user interface with considering feedbacks, product strategy and personas all the time in the mind. Thus user experience is the main focus of my engineering processes.

            p In my free time, I ride my bike or dance tango. Feel free to
              a.contactme(href='javascript:;' data-page='contact') contact me                
  article.skillset
    .container
      .row
        .col-md-8.col-md-offset-2
          .jumbotron
            h1  Skillset 
            ul.skillset_list
              li
                // javascript
                svg#Layer_1.verticalsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='300px', height='300px', viewbox='0 0 300 300', style='enable-background:new 0 0 300 300;', xml:space='preserve')
                  path.jst0(fill='#F0DB4F',d='M-0.3-0.3h300v300h-300V-0.3L-0.3-0.3z')
                  path.jst1(fill='#323330',d='M275.2,228.2c-2.2-13.7-11.1-25.2-37.6-35.9c-9.2-4.2-19.4-7.2-22.5-14.2c-1.1-4-1.2-6.3-0.5-8.8\
                  c2-8,11.5-10.4,19-8.2c4.8,1.6,9.4,5.4,12.2,11.3c12.9-8.4,12.9-8.3,22-14.1c-3.3-5.1-5.1-7.5-7.2-9.7c-7.8-8.7-18.4-13.2-35.4-12.8\
                  c-2.9,0.4-5.9,0.8-8.8,1.1c-8.5,2.1-16.5,6.6-21.3,12.5c-14.2,16.1-10.2,44.3,7.1,55.9c17,12.8,42,15.7,45.2,27.6\
                  c3.1,14.6-10.8,19.4-24.5,17.7c-10.2-2.1-15.8-7.3-21.9-16.7c-11.2,6.5-11.2,6.5-22.8,13.1c2.7,6,5.6,8.7,10.2,13.9\
                  c21.7,22,76.1,21,85.9-12.4C274.7,247.6,277.3,240,275.2,228.2z')
                  path.jst1(d='M162.8,137.6h-28.1c0,24.2-0.1,48.3-0.1,72.5c0,15.4,0.8,29.6-1.7,33.9c-4.1,8.5-14.7,7.5-19.6,5.8\
                  c-4.9-2.4-7.4-5.9-10.4-10.8c-0.8-1.4-1.4-2.5-1.6-2.6c-7.6,4.6-15.2,9.3-22.8,14c3.8,7.8,9.4,14.5,16.5,18.9\
                  c10.7,6.4,25.1,8.4,40.1,4.9c9.8-2.9,18.2-8.8,22.6-17.7c6.4-11.8,5-26,5-41.8C163,189.1,162.8,163.4,162.8,137.6z')
                
                // html5
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                  path(d='M108.4 0h23v22.8h21.2V0h23v69h-23V46h-21v23h-23.2M206 23h-20.3V0h63.7v23H229v46h-23M259.5 0h24.1l14.8 24.3L313.2 0h24.1v69h-23V34.8l-16.1 24.8l-16.1-24.8v34.2h-22.6M348.7 0h23v46.2h32.6V69h-55.6')
                  path(fill='#e44d26' d='M107.6 471l-33-370.4h362.8l-33 370.2L255.7 512')
                  path(fill='#f16529' d='M256 480.5V131H404.3L376 447')
                  path(fill='#ebebeb' d='M142 176.3h114v45.4h-64.2l4.2 46.5h60v45.3H154.4M156.4 336.3H202l3.2 36.3 50.8 13.6v47.4l-93.2-26')  path(fill='#fff' d='M369.6 176.3H255.8v45.4h109.6M361.3 268.2H255.8v45.4h56l-5.3 59-50.7 13.6v47.2l93-25.8')
                  path(fill="#fff" d="M369.6 176.3H255.8v45.4h109.6M361.3 268.2H255.8v45.4h56l-5.3 59-50.7 13.6v47.2l93-25.8")
                
                // css3
                svg#Layer_1.verticalsvg(version='1.1', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='212.5px', height='300px', viewbox='0 0 212.5 300', style='enable-background:new 0 0 212.5 300;', xml:space='preserve')
                  path#Shape.css3st0(d='M166.5,11.1h-17.6L167.2,31v9.5h-37.8V29.4h18.3L129.5,9.5V0h37.1V11.1L166.5,11.1z M122,11.1h-17.6\
                  L122.7,31v9.5H84.9V29.4h18.3L84.9,9.5V0H122V11.1L122,11.1z M77.8,11.6h-19v17.4h19v11.6H45.3V0h32.6V11.6L77.8,11.6z')
                  path#Shape_1_.css3st1(d='M19.3,275.9L0,59h212.5l-19.4,216.9l-87,24.1L19.3,275.9z')
                  path#Shape_2_.css3st4(d='M106.3,281.6l70.3-19.5l16.5-185.4h-86.9V281.6z')
                  path#Shape_3_.css3st3(d='M106.3,155.3h35.2l2.4-27.2h-37.6v-26.6h0.1H173l-0.6,7.1l-6.5,73.3h-59.5V155.3z')
                  path#Shape_4_.css3st2(d='M106.4,224.4l-0.1,0l-29.6-8l-1.9-21.2H60.4H48.1l3.7,41.8l54.5,15.1l0.1,0V224.4z')
                  path#Shape_5_.css3st3(d='M139.2,180.8l-3.2,35.6l-29.7,8v27.7l54.5-15.1l0.4-4.5l4.6-51.7L139.2,180.8L139.2,180.8z')
                  path#Shape_6_.css3st2(d='M106.4,101.5V118v10v0.1H42.2h-0.1l-0.5-6l-1.2-13.5l-0.6-7.1L106.4,101.5L106.4,101.5z')
                  path#Shape_7_.css3st2(d='M106.3,155.3v16.5v10v0.1H77.1H77l-0.5-6l-1.2-13.5l-0.6-7.1H106.3z')
                // nodejs
                svg#nodejs(version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 399.7 109', style='width:200px;height:50px', xml:space='preserve')
                  path.nodejs1(d='M59.8,57.9c0-1.2-0.6-2.2-1.6-2.8L31.5,39.7c-0.5-0.3-1-0.4-1.5-0.4c0,0-0.2,0-0.3,0c-0.5,0-1,0.2-1.5,0.4\
                  L1.6,55.1c-1,0.6-1.6,1.6-1.6,2.8l0.1,41.4c0,0.6,0.3,1.1,0.8,1.4c0.5,0.3,1.1,0.3,1.6,0l15.9-9.1c1-0.6,1.6-1.6,1.6-2.8V69.5\
                  c0-1.2,0.6-2.2,1.6-2.8l6.8-3.9c0.5-0.3,1.1-0.4,1.6-0.4c0.5,0,1.1,0.1,1.6,0.4l6.8,3.9c1,0.6,1.6,1.6,1.6,2.8v19.3\
                  c0,1.1,0.6,2.2,1.6,2.8l15.9,9.1c0.5,0.3,1.1,0.3,1.6,0c0.5-0.3,0.8-0.8,0.8-1.4L59.8,57.9')
                  path.nodejs1(d='M202.4,1c-0.5-0.3-1.1-0.3-1.6,0c-0.5,0.3-0.8,0.8-0.8,1.4v41c0,0.4-0.2,0.8-0.6,1c-0.3,0.2-0.8,0.2-1.1,0\
                  l-6.7-3.9c-1-0.6-2.2-0.6-3.2,0L161.7,56c-1,0.6-1.6,1.6-1.6,2.8v30.8c0,1.2,0.6,2.2,1.6,2.8l26.7,15.4c1,0.6,2.2,0.6,3.2,0\
                  l26.7-15.4c1-0.6,1.6-1.6,1.6-2.8V12.7c0-1.2-0.6-2.2-1.7-2.8L202.4,1 M199.9,79.5c0,0.3-0.2,0.6-0.4,0.7l-9.2,5.3\
                  c-0.2,0.1-0.6,0.1-0.8,0l-9.2-5.3c-0.3-0.1-0.4-0.4-0.4-0.7V68.9c0-0.3,0.2-0.6,0.4-0.7l9.2-5.3c0.3-0.1,0.6-0.1,0.8,0l9.2,5.3\
                  c0.2,0.1,0.4,0.4,0.4,0.7V79.5z')
                  path.nodejs1(d='M297.9,68.6c1-0.6,1.6-1.6,1.6-2.8v-7.5c0-1.1-0.6-2.2-1.6-2.8l-26.5-15.4c-1-0.6-2.2-0.6-3.2,0l-26.7,15.4\
                  c-1,0.6-1.6,1.6-1.6,2.8v30.8c0,1.2,0.6,2.2,1.6,2.8l26.5,15.1c1,0.6,2.2,0.6,3.2,0l16-8.9c0.5-0.3,0.8-0.8,0.8-1.4\
                  c0-0.6-0.3-1.1-0.8-1.4l-26.9-15.4c-0.5-0.3-0.8-0.8-0.8-1.4v-9.7c0-0.6,0.3-1.1,0.8-1.4l8.4-4.8c0.5-0.3,1.1-0.3,1.6,0l8.4,4.8\
                  c0.5,0.3,0.8,0.8,0.8,1.4v7.6c0,0.6,0.3,1.1,0.8,1.4c0.5,0.3,1.1,0.3,1.6,0L297.9,68.6')
                  path.nodejs3(d='M108.4,40c1-0.6,2.2-0.6,3.2,0l26.7,15.4c1,0.6,1.6,1.6,1.6,2.8V89c0,1.2-0.6,2.2-1.6,2.8l-26.7,15.4\
                  c-1,0.6-2.2,0.6-3.2,0L81.7,91.8c-1-0.6-1.6-1.6-1.6-2.8V58.2c0-1.2,0.6-2.2,1.6-2.8L108.4,40')
                  path.nodejs2(d='M349.8,107.7c-0.9,0-1.8-0.2-2.6-0.7l-8.4-5c-1.3-0.7-0.6-1-0.2-1.1c1.7-0.6,2-0.7,3.8-1.7\
                  c0.2-0.1,0.4-0.1,0.6,0l6.5,3.8c0.2,0.1,0.6,0.1,0.8,0l25.2-14.5c0.2-0.1,0.4-0.4,0.4-0.7V58.8c0-0.3-0.2-0.6-0.4-0.7l-25.2-14.5\
                  c-0.2-0.1-0.5-0.1-0.8,0l-25.2,14.5c-0.2,0.1-0.4,0.4-0.4,0.7v29.1c0,0.3,0.2,0.5,0.4,0.7l6.9,4c3.7,1.9,6-0.3,6-2.5V61.2\
                  c0-0.4,0.3-0.7,0.7-0.7h3.2c0.4,0,0.7,0.3,0.7,0.7v28.7c0,5-2.7,7.9-7.5,7.9c-1.5,0-2.6,0-5.8-1.6l-6.6-3.8\
                  c-1.6-0.9-2.6-2.7-2.6-4.6V58.8c0-1.9,1-3.7,2.6-4.6l25.2-14.5c1.6-0.9,3.7-0.9,5.3,0l25.2,14.5c1.6,0.9,2.6,2.7,2.6,4.6v29.1\
                  c0,1.9-1,3.6-2.6,4.6L352.4,107C351.6,107.4,350.7,107.7,349.8,107.7')
                  path.nodejs2(d='M357.6,87.6c-11,0-13.3-5.1-13.3-9.3c0-0.4,0.3-0.7,0.7-0.7h3.3c0.4,0,0.7,0.3,0.7,0.6c0.5,3.3,2,5,8.6,5\
                  c5.3,0,7.6-1.2,7.6-4c0-1.6-0.6-2.8-8.9-3.6c-6.9-0.7-11.2-2.2-11.2-7.7c0-5.1,4.3-8.1,11.5-8.1c8.1,0,12.1,2.8,12.6,8.8\
                  c0,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3,0.2-0.5,0.2h-3.3c-0.3,0-0.6-0.2-0.7-0.6c-0.8-3.5-2.7-4.6-7.9-4.6c-5.8,0-6.5,2-6.5,3.5\
                  c0,1.8,0.8,2.4,8.6,3.4c7.7,1,11.4,2.5,11.4,7.9C370.1,84.5,365.5,87.6,357.6,87.6')
                  polyline.nodejs2(points='392.3,39.7 392.3,40.4 390.2,40.4 390.2,46 389.3,46 389.3,40.4 387.2,40.4 387.2,39.7 392.3,39.7 ')
                  path.nodejs2(d='M393,39.7h1.2l1.8,5.3l1.8-5.3h1.2V46h-0.8v-3.7c0-0.1,0-0.3,0-0.6c0-0.3,0-0.6,0-1l-1.8,5.3h-0.8l-1.8-5.3v0.2\
                  c0,0.2,0,0.4,0,0.7c0,0.3,0,0.5,0,0.7V46H393V39.7')
                  path.nodejs3(d='M269.4,67.1c0.2-0.1,0.4-0.1,0.6,0l5.1,3c0.2,0.1,0.3,0.3,0.3,0.5v5.9c0,0.2-0.1,0.4-0.3,0.5l-5.1,3\
                  c-0.2,0.1-0.4,0.1-0.6,0l-5.1-3c-0.2-0.1-0.3-0.3-0.3-0.5v-5.9c0-0.2,0.1-0.4,0.3-0.5L269.4,67.1')
              li
                // react
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 375 133', style='enable-background:new 0 0 375 133;width:150px', xml:space='preserve')
                  path.react0(d='M0,133C0,88.7,0,44.3,0,0c125,0,250,0,375,0c0,44.3,0,88.6,0,133c-1.6,0-2.7,0-3.9,0c-122.5,0-245.1,0-367.6,0\
                  C2.3,133,1.2,133,0,133z')
                  path.react1(d='M115.4,82.5c1.3,6.1,2.1,11.9,1,17.9c-1.4,7.8-6.1,11.3-13.1,9.6c-2.6-0.6-5.3-1.7-7.6-3.1\
                  c-3.4-2.1-6.5-4.6-9.9-7.1c-1.5,1.3-3.2,2.7-5,4.1c-4,3-8.2,5.5-13.1,6.3c-5.7,1-9.8-1.4-11.6-6.9c-1.8-5.5-1.3-11-0.4-16.6\
                  c0.2-1.3,0.5-2.6,0.7-4c-2.1-0.8-4.1-1.3-5.9-2.3c-3.6-2-7.5-3.8-10.6-6.5c-6.3-5.4-6.1-11.8,0.2-17.2c4-3.5,8.8-5.7,13.9-7.2\
                  c1.9-0.6,2.7-1.2,2.1-3.4c-1.2-5.2-1.7-10.5-0.7-15.9c1.5-7.9,6.8-11.4,14.4-8.6c4.4,1.7,8.4,4.6,12.5,7.1c1.3,0.8,2.3,1.9,3.5,2.9\
                  c2.2-1.7,4-3.7,6.3-5c3.8-2.1,7.7-4.4,11.8-5.6c5.3-1.6,9.4,1,11.3,6.3c1.8,5.1,1.6,10.3,0.9,15.6c-0.2,1.9-1.2,4.1-0.5,5.5\
                  c0.6,1.2,3.2,1.4,4.8,2.1c4.5,1.8,8.8,3.9,12.3,7.5c4.7,4.8,4.7,9.9,0.1,14.8c-4.1,4.3-9.3,6.6-14.7,8.6\
                  C117.3,81.8,116.5,82.1,115.4,82.5z M86,82c9.3,0,9.5,0.1,14-8.1c5.7-10.5,5.7-6.1,0-16.6c-4.5-8.2-4.7-8.1-14-8.1\
                  c-9.5,0-9.5,0-14.2,8.2c-4.7,8.2-4.7,8.2,0,16.4C76.5,82,76.5,82,86,82z M57.5,52.6c-3.2,1.3-6.5,2.3-9.4,4c-2.6,1.4-5,3.3-7,5.4\
                  c-2.1,2.2-2.1,4.4-0.3,6.8c4.3,5.5,10.4,7.8,16.7,9.8c1.7-4.2,3.2-8,4.7-11.9c0.2-0.6,0.3-1.4,0.1-1.9\
                  C60.9,60.8,59.3,56.9,57.5,52.6z M60.9,84c-1.8,5.1-2.3,12.6-1.1,17c1.3,4.6,3.6,6.1,8.1,5c6-1.6,10.7-5.2,15-9.4\
                  c-2.8-3.5-5.4-6.9-8.1-10.3c-0.2-0.3-0.6-0.6-1-0.7C69.5,85,65.2,84.5,60.9,84z M82.9,34.7c-4.5-4.1-9.2-7.8-15.1-9.4\
                  c-3.9-1-6.3,0-7.4,3.4c-2.2,6.3-1.1,12.5,0.5,18.8c4.5-0.7,8.6-1.2,12.8-1.9c0.5-0.1,1.1-0.5,1.4-0.9C77.6,41.5,80.1,38.2,82.9,34.7\
                  z M111.3,83.7c-4.4,0.6-8.5,1.2-12.6,1.8c-0.6,0.1-1.3,0.4-1.7,0.8c-2.6,3.3-5.2,6.7-7.7,10c2.8,3.7,10.2,8.6,14.5,9.6\
                  c4.3,1,6.9-0.4,8.1-4.8C113.5,95.4,112.8,89.6,111.3,83.7z M89,34.7c2.7,3.5,5.3,6.8,7.9,10c0.4,0.5,1.1,0.8,1.6,0.9\
                  c3.7,0.7,7.4,1.3,11.1,1.8c0.5,0.1,1.6-0.6,1.7-1.1c1.2-5.2,1.8-10.5,0.6-15.8c-1.1-5.1-4-6.7-9-5C97.5,27.3,93.2,30.8,89,34.7z\
                  M114.2,52.9c-1.7,4.1-3.2,7.9-4.8,11.8c-0.2,0.4-0.2,1-0.1,1.4c1.6,4,3.3,8.1,5.1,12.3c5.6-1.8,10.8-3.8,15-7.8\
                  c3.7-3.5,3.7-6.5,0-10C125.1,56.6,119.9,54.6,114.2,52.9z M110.3,79.5c-1.2-3.2-2.3-6-3.5-9.2c-2.1,3.7-4,7-6.2,10.8\
                  C104.1,80.6,106.9,80.1,110.3,79.5z M71.3,81.3c-2.2-3.8-4.1-7-6.2-10.7c-1.2,3.3-2.2,6-3.3,9.2C65,80.3,67.9,80.7,71.3,81.3z\
                  M79.8,86.1c2.3,2.7,4.1,4.9,6.3,7.5c2.1-2.6,3.9-4.8,6-7.5C87.8,86.1,84.2,86.1,79.8,86.1z M106.8,60.7c1.2-3.3,2.2-6,3.3-9\
                  c-3.2-0.5-6-1-9.4-1.6C102.8,53.9,104.6,57,106.8,60.7z M85.9,37.7c-2.1,2.5-3.9,4.8-6,7.2c4.2,0,7.8,0,11.9,0\
                  C89.8,42.4,88,40.2,85.9,37.7z M61.8,51.6c1.2,3.2,2.2,5.9,3.3,9c2.1-3.7,3.9-6.9,6.1-10.6C67.8,50.6,65,51.1,61.8,51.6z')
                  path.react1(d='M170.1,68c0,6.5,0,12.6,0,18.9c-2.1,0-3.9,0-5.9,0c0-15.9,0-31.9,0-47.8c0.2-0.1,0.3-0.3,0.4-0.3\
                  c7.3,0.1,14.7-0.3,21.9,0.4c6.9,0.6,11.6,6,11.9,12.4c0.4,8.6-2.8,13.4-10.4,15.6c-0.5,0.1-0.9,0.3-1.6,0.6\
                  c4.2,6.3,8.3,12.6,12.7,19.2c-2.6,0-4.7,0.1-6.8-0.1c-0.6-0.1-1.3-0.9-1.7-1.5c-3.4-5.2-6.7-10.5-10.2-15.7\
                  c-0.6-0.8-1.9-1.5-2.9-1.6C175.2,67.8,172.9,68,170.1,68z M170.1,53.5c0,2.4-0.1,4.8,0.1,7.2c0,0.6,0.9,1.7,1.4,1.7\
                  c4.4,0,8.8,0.2,13.2-0.3c4.8-0.6,7.7-4.7,7.2-9.7c-0.4-4.4-3.9-7.8-8.5-7.9c-3.8-0.1-7.7,0-11.5-0.1c-1.6,0-2,0.6-1.9,2.1\
                  C170.1,48.8,170.1,51.1,170.1,53.5z')
                  path.react1(d='M209.3,71.5c0.3,4.7,2.3,8.2,6.1,10.2c6.1,3.1,11.6,1.4,16.9-2.8c0.9,1.2,1.8,2.3,2.7,3.6c-4.5,4.6-10,6-16,5.4\
                  c-9.4-0.9-15.4-7.7-15.9-17.7c-0.4-9.3,5.4-17,14.2-18.8c11.4-2.4,22.4,8.7,19.5,20.1c-4.5,0-9.1,0-13.6,0\
                  C218.7,71.5,214.1,71.5,209.3,71.5z M231.4,67.1c0.2-6.6-4.9-11.4-11.6-11.2c-5.8,0.2-10.7,5.4-10.2,11c0.5,0.1,1,0.2,1.4,0.2\
                  C217.8,67.2,224.5,67.1,231.4,67.1z')
                  path.react1(d='M272.7,86.9c-1.7,0-3.3,0-5,0c-0.1-1-0.3-1.9-0.4-2.9c-9.3,5.1-16.6,5-20.9-0.3c-3.5-4.3-3.5-11.1,0.2-15.2\
                  c4.5-5.1,12.3-5.1,20.9,0c0-3.6,1-7.2-1.9-10c-3.1-3-6.9-3.2-10.7-1.8c-2.4,0.9-4.5,2.4-7,3.8c-0.6-0.9-1.4-2.1-2.4-3.5\
                  c3.1-3.7,7.1-5.5,11.7-5.8c2.9-0.2,6,0.2,8.8,1c4.2,1.2,6.8,4.4,6.9,8.8c0.2,8.3,0.1,16.6,0.1,25C273,86.3,272.9,86.5,272.7,86.9z\
                  M267.5,76.2c0-4.7-3.4-7.3-9.4-7.3c-5,0-8.5,3.1-8.5,7.5c0,4.2,3.5,7.3,8.4,7.3C264.1,83.7,267.5,81.1,267.5,76.2z')
                  path.react1(d='M312,81.6c-3.7,5.6-11.1,7.8-18.4,5.5c-7.2-2.2-11.9-9-12-17.5c-0.1-8.4,4.7-15.5,12-17.7\
                  c7.3-2.2,14.6-0.1,18.4,5.5c-1.1,1-2.3,2.1-3.5,3.2c-0.4-0.2-0.7-0.4-0.9-0.6c-6.8-6.7-16.8-4.2-19.4,4.9c-1.1,3.9-0.9,7.8,0.9,11.4\
                  c3.5,7.2,12.5,8.6,18.2,2.9c0.3-0.3,0.4-0.7,0.7-1.3C309.6,79.4,310.8,80.5,312,81.6z')
                  path.react1(d='M320.2,57c-2.1,0-3.7,0-5.5,0c0-1.7,0-3.1,0-4.8c1.7-0.1,3.4-0.2,5.5-0.3c0-3.1,0-6.2,0-9.3c2,0,3.7,0,5.7,0\
                  c0,3,0,6.1,0,9.4c2.5,0,4.6,0,6.9,0c0,1.7,0,3.2,0,4.9c-2.2,0-4.3,0-6.8,0c0,2,0,3.7,0,5.4c0,5,0,10,0,15c0,5.2,2.2,6.6,6.9,4.4\
                  c2.6,3.5,2.2,4.9-1.9,5.9c-6.5,1.6-10.6-1.5-10.7-8.3c-0.1-6.3,0-12.7,0-19C320.2,59.3,320.2,58.4,320.2,57z')
                  path.react1(d='M77,65.5c0-5,3.8-8.9,8.8-8.9c5,0,9.1,4,9.1,9c-0.1,4.9-4.2,8.9-9,8.9C81,74.4,77,70.5,77,65.5z')
                
                // babel
                svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 294.3 612 235.9', enable-background='new 0 294.3 612 235.9', xml:space='preserve')
                  path(d='M543.2,301.3c-1.6,7.3-4.2,12.7-7.7,16.3L533,316c2.7-6.9,4-10.9,3.9-11.9l-0.7-1.1c-0.9,0.1-2.1,2.5-3.6,7.3l-1.3,0.1\
                  c-0.1-0.9-0.3-1.6-0.7-2.3l-0.6,0.1c-11.8,32.9-17.1,48.2-28,73.5c-2,6.5-3.7,10.1-5.2,10.8c0.1,0.7,0.5,1.1,1.3,1\
                  c0.3,3.2-0.5,6.3-2.2,9.4c-5.1,14.5-8.4,22.5-10.1,23.9l1.1,6.9c0.1,0.7-0.3,1.2-1.1,1.2l-1.2,0.1c-0.2-1.9-0.9-2.8-2.1-2.7\
                  l-0.6,0.1c-1.5,2.4-2.7,5.2-3.5,8.4l1.2-0.1c1.6-1,2.3-2.2,2.2-3.7l2.4-0.2l1.3,0.5c-1.1,1.7-1.6,3.1-1.5,4.1l0.6,1.1l-1.5,3.6\
                  l0.1,0.6c1.4-0.1,2.9,0.3,4.5,1.3c1.1-0.1,2.3-0.6,3.6-1.4c1.4-0.1,6.4-0.2,15.2-0.2l4.4-1.5c5.4-0.1,6.2,0.1,10.9-0.3l1.9-0.2\
                  l1-0.7l0.1,0.6c4.8-0.4,5.2-0.1,9,0.4l0.1,0.6l-2.7,0.2l0.1,1.1c0.8-0.1,1.5-0.3,2.1-0.8c0.7-0.1,1.1,0.3,1.2,1.1\
                  c-1.1,0.1-2.3,0.4-3.7,0.8l-1.2-0.4c-1.9,0.5-1.5,0.6-2.7,0.7l-1.9-0.4c0,0.3-0.1,0.5-0.4,0.6c0.1,0.7,0.4,1.1,1.1,1l2.3-0.2l-1-0.4\
                  c0,0.3,0.2,0.5,0.6,0.5l9.9-0.9l3.8-0.8c0,0.3,0.2,0.5,0.5,0.5l1.8-0.7l3.4-0.3c2.7-0.2,2.6-0.4,8.3-1.3c0-0.3,0.1-0.5,0.4-0.5\
                  l0,0.5c10.9-1.8,9.9-1.7,12.2-2.5l-0.5-1.2c-3.1,0.7-3,0.3-4.6,0.5l-8.3,0.4l-0.1-0.6l4.6-0.6l1.7-0.1l0.9-0.7l0.1,0.6\
                  c6.5-0.6,8.8,1.1,39.1-5.3c1.6-0.1,1.5-1.5,2.5-4.3c-0.6,0-1.1-0.1-1.6-0.4c-2.5,1-3.8,0.5-8.6,1.3c-0.4,0-0.7-0.3-0.9-1.1l0-0.5\
                  l4.6,0.2c0.8-0.1,2.6-0.2,5-1.6c0.5,0.3-0.4,0.6,0.1,0.5l0.8-0.1c0.5,0,0.7-0.4,0.7-1.2l-0.5-1.1c-3.1,0.3-4.6,0.4-7.1,1.8l-0.1-0.6\
                  l-3.8,0.4c-0.1-1.2-0.4-1.7-0.9-1.7l-2,0.2c-2.3,0.2-3.4,0.1-4.5,1c0-0.4-0.2-0.6-0.4-0.6l-2.2,0.2l-1.3,0.7c0-0.4-0.2-0.6-0.4-0.6\
                  l-0.8,0.7l-0.1-0.6l-3-0.2l-0.7,0.1l0.1,1.1l1.6,0.4l1.4-0.1c0.5,0.3,1.1,0.4,1.7,0.4l1.3-0.6l0,0.5c-7.1,1.8-7.1,1.4-12,2.3\
                  c-0.6-0.4-1-0.5-1.2-0.5c-0.5,0.5,0.6,0.1,0.3,0.1c-0.8,0.1-1.2-0.3-1.3-1l2.5-0.3c0.2,0,0.3,0.2,1.7,0.5c2-1,2.1-1.4,3.2-1.5\
                  l-0.1-1.1c-7,1.4-4.2,0.5-13,1.2l-0.4,0l-0.1-1.1c11.3-1.4,7.5-0.6,11.3-1.7c0,0.4,0.2,0.6,0.4,0.6c0.4-0.4,1-0.7,1.6-0.7l0.8-0.1\
                  c3.9-0.3,5.3,0.5,13.1-1.7l0,0.5l1.3-0.6l1.2-0.1c-0.1-1.2,1.7-1.3,2.2-1.4l-0.1-1.2c-13.7,2.8-17.3,2-21.1,3.1l0-0.5\
                  c-3.6,0.7-3.7,0.3-4.6,0.4c-0.3,0-0.7,0.3-1.1,0.7c0-0.4-0.2-0.6-0.5-0.6c-0.6,0-0.3,0.2-0.8,0.7l0.8-0.7l-11.9,1.9\
                  c0-0.3-0.2-0.5-0.5-0.5c-6,1.3-4.4,1.5-12.5,2.2c-0.4,0-0.9,0.2-1.5,0.6c0-0.3-0.2-0.5-0.6-0.5l-5,0.4l-3.3,0.8\
                  c0-0.3-0.2-0.5-0.6-0.5c-1.9,0.5-3.5,0.8-4.8,0.9l-0.1,0c-0.8,0.1,0.4-0.2-0.2-0.5l-1,0.6c-1.5,0.1-0.7-0.1-5.7,0\
                  c-8.8,1.1-7.8,1.2-8.8,1.3l-3.3-0.2c0,0.3-0.1,0.5-0.5,0.6c-3.7-0.5-5.6-1.1-5.7-1.8c0.5-3.5,1.3-5.3,2.6-5.5l0.6-0.1l-0.6,1.2\
                  l0.6-0.1c1.2-0.6,1.7-1.2,1.7-1.8l-0.1-1.2l-1.2,0.1l-0.1-1.1c-0.1-0.9,0-1.6,0.3-2.3l2.7-4.3l0.1,1.1l1.3-0.1l-0.1-1.1l-0.7-1.1\
                  c0.9-0.8,1.7-1.3,2.3-1.3l-0.1-0.6l-1.7,0.1l-0.1-1.7c3.4-7.2,5.1-11.4,5-12.5l1.2,0.5c0.8-0.1,1.2-0.5,1.1-1.3l-1.2,0.1l0-0.5\
                  c-0.1-0.9,0.1-1.7,0.4-2.4c1.9-1.9,2.7-3.9,2.5-6c0.4,0,0.6,0.2,0.6,0.6c1.6-0.9,2.8-3.3,3.7-7.3c2.8-5.1,6.8-15.3,12-30.5\
                  c10-26.9,9.6-29.8,11-36.1l-1.2,0.1c0.1,0.8-0.1,1.6-0.5,2.3c-0.8-0.3-1.5-0.5-1.9-0.5l0-0.5c-0.2-2.3,0.8-5.1,3-8.4l0.5,0l1,3.9\
                  l1.2-0.1c0-0.3,0.3-1.8,0.9-4.7c-0.1-0.6-0.5-0.9-1.4-1l-1.1,0.7c-0.1-0.8,0-2.9,0.1-6.4L543.2,301.3z M528.8,318.6l0.6-0.1\
                  c-0.9,1.6-1.6,2.5-2.3,2.6l-0.1-1.7C527.5,319.3,528.1,319.1,528.8,318.6L528.8,318.6z M523.8,330.6c1.2-4.9,2.4-7.7,3.5-8.4\
                  l0.1,0.6c-0.6,4.6-1.6,6.9-3,7.1l0.2,2.9c-1.1,1.5-1.6,2.7-1.5,3.6l-0.6,0.1l-0.3-4C522.8,332.4,523.4,331.8,523.8,330.6\
                  L523.8,330.6z M521.9,337.1c0.1,0.7-0.4,2.3-1.3,4.7l-0.6,0.1l-0.1-1.7C520.6,338.2,521.3,337.2,521.9,337.1L521.9,337.1z\
                  M489,409.8l0.6,1.1c0.9-0.1,1.3-0.5,1.2-1.2l-0.1-0.6l-0.6,0.1L489,409.8z M504.8,422.9l0,0.5c0.9-0.1,1.8-1.7,2.6-4.8l-1.2-0.4\
                  C505.2,420.9,504.8,422.4,504.8,422.9L504.8,422.9z M606,426.4l0,0.5l-1,1.2l1.9-0.7l0.2,0l-0.1-1.1l-0.4,0l-0.7,0.6\
                  c0-0.3,2.1-0.9,0.5-1.2C606.1,426.2,606.9,426.3,606,426.4L606,426.4z M609.9,430l2.7-0.2c-0.1-0.7-1.8-0.9-2.4-0.9l-0.4,0\
                  L609.9,430z M562.1,431l0.8,1c0-0.3,0.1-0.5,0.4-0.5l0.6,1.1l-2.5-0.3C561.2,431.5,561.5,431.1,562.1,431L562.1,431z M553.9,431.9\
                  c0.9-0.1,1.5,0.5,1.5,1.3l-2.8,0l0-0.5C552.9,432.6,553.4,432.4,553.9,431.9L553.9,431.9z M560.3,431.6l0.1,0.6l-2.3,0.2l-0.1-0.6\
                  L560.3,431.6z M537.1,434c0,0.3,0.2,0.5,0.6,0.5c3.7-0.7,3.3-0.8,5.1-1c0.6-0.1,0.9,0.3,1,1l-10.3,0.9l1,0.5l-0.1-0.6l-3.9,0.3\
                  l-0.1-0.6l3.5-0.3L537.1,434z M547.7,433.1l0,0.5c-0.3,0,1,0.1,0.4,0.6c-2.2-0.2-2.3-0.4-3.9-0.3l0-0.5L547.7,433.1z M550.3,432.8\
                  l0,0.5l-1.9,0.2l0-0.5L550.3,432.8z M486.3,443l0.1,1.7c-0.6,0.1-1.1-0.3-1.3-1.1l0-0.5L486.3,443z M571.9,441.5l0.1,1.1l2-0.2\
                  l-0.8-0.5l0.1,0.6l2-0.8c13.7-1.5,15.3-0.9,15.1-2.5l0-0.5C576.6,441.8,574.8,441.2,571.9,441.5L571.9,441.5z M593.3,439.6l2,0.4\
                  l-0.1-1.1l-2-0.4L593.3,439.6z M534.1,443.5c0.6,0.3-0.7,0.6,0.1,0.5l7-0.6l0.1,0.6c-2,0.2-3.3,0.5-3.7,0.9c0-0.4-0.2-0.6-0.6-0.6\
                  l-3,0.3l-0.1-0.6C534.7,443.9,533.5,443.9,534.1,443.5L534.1,443.5z M566.5,442.7l0.6,1.1c2.3-0.5,1-0.4,1.6-0.9\
                  c0,0.4,0.2,0.6,0.4,0.6l1.6-0.1l-0.1-1.2l-4.2-0.1L566.5,442.7z M526.9,447l-0.4,0l-0.1-1.1l0.4,0L526.9,447z M495.6,450.8l0.1,0.6\
                  l18.4-1.5l-0.1-1.1l-14.7,1.2l-3.1-0.4L495.6,450.8z M516.1,449.7l0.2,0l-0.1-1.1l-0.2,0L516.1,449.7z')
                  path(d='M236.1,353.1c-13,15.5-19.7,24-20.2,25.7c-5.3,5.5-7.9,8.8-7.6,9.9c-1.4,0.9-2,1.8-1.8,2.8c-0.4,0.1-0.7-0.1-0.8-0.5\
                  c-2.3,3.7-5.6,6-10.1,7.1l-4.7,1.1c-0.6,0.1-0.9,0.6-0.9,1.4l0.1,0.6l1.8-0.4l0.1,0.5l-4,1.5l-7.1,1.6l-3.7,0.2\
                  c-0.5,0.5,2.9-0.1,1.6,0.3l-4.6,1.1c-2.8,0.7-4.4,0.4-4.6-0.7l-0.5,0.1c0.3,1.1,0,1.8-0.8,2l0.9-0.2l-0.4-1.7l-8.4,2l0.9,0.4\
                  c-0.1-0.4-0.5-0.5-1.3-0.3l-1.1,0.9l-1.3-0.3c-1.2,0.7-2,1.1-2.2,1.1l-1.3-0.3c-3.5,2-0.9,2-1.1,2l0.3,1.1l2-0.5l3.1-0.2l-0.3,1.3\
                  c-11.4,3-3.1,1.3-6.2,2l-0.6,0.1l0.3,1.1l1.8-0.4l0.1,0.6c-2.3,0.5-3.6,1-4,1.5l-0.1-0.6c-3,0.7-6,3-9,6.8c0.5,2.2-6,4.9,24.6-2.2\
                  c2.1-0.1,3.3-0.1,3.6-0.2c-0.1-0.4,0.1-0.6,0.5-0.7c3.4-0.4,1.8,0.2,3.9-0.3l6.6-1.5l-1.4,0.8c-0.1-0.3,0.1-0.5,0.4-0.6\
                  c0.8,0.2,1.6,0.1,2.5-0.1l0.4,1.7l-26.1,41.4l-5.8,7.2l-2.8,9.5l0.5-0.1l2.8-1.2l-0.9,3.7l0.3,1.1l0.8,1c-0.4,0.1-0.5,0.3-0.4,0.7\
                  l0.1,0.6l1.2-0.3c1.7-1.5,2.4-2.9,2.2-4.1c1.9,0.3,3.1,0.4,3.7,0.3l0.1,0.6c-1.1,0.3-1.7,1.2-1.8,2.7l0.1,0.6l0.6-0.1\
                  c9.5-10.3,32.6-45.6,51.2-69.6c-0.6-2.6,9.1-6.2,29.1-10.8l0.6-0.1c0.7,3.1-0.8,10.7-4.6,22.8c-2.5,7.3-3.6,11.3-3.5,11.9\
                  c-3.2,9.7-4.7,14.9-4.5,15.7l-7.1,23.2c-4.6,11.9-8.1,24.4-10.5,37.6c0.4-0.1,1.1,0,1.9,0.2l1-0.9c0.1,0.4,0.3,0.5,0.8,0.5l-0.4-1.7\
                  l3.1-0.1c0.9-0.2,1.7-1.4,2.3-3.5c-0.1-3.1,0.5-4.8,1.9-5.2c1.9-7.4,3.1-11.2,3.5-11.3c1.8-7.4,3.1-11.6,4-12.7\
                  c2.7-9.6,4.6-14.6,5.9-14.9l0.3,1.2l-1.9,5.1c-3.4,15.1-6.9,27.1-10.4,35.9l1,4.4l0.6-0.1c8.5-18.2,20.6-54.2,36.5-108\
                  c0.5-4.7,2.7-8.4,6.8-11l-0.9-0.9l-0.1-0.5c1.8-0.4,3.1-1.1,3.8-2.1c-0.1-0.4-1.7-1-4.8-1.8l9.4-40.2c2.8-12,4.7-22.5,5.7-31.7\
                  l-0.1-0.6c-1.9-1.2-3.8-2.9-5.5-5.1c0-1.4,0-2.2,0-2.4l-0.1-0.5l-0.5,0.1C264.8,316,253.2,331.3,236.1,353.1L236.1,353.1z\
                  M249.4,362.2c0.5,2.1-0.3,6-2.3,11.7c-0.6,7.2-3.2,11.3-7.7,12.4l-0.1-0.6l-4,1.5l-1.8,0.4c-0.9,0.2-1.7,0.2-2.5-0.1l-0.4-1.6\
                  c-0.1-0.6,5.6-8.6,17.4-23.9L249.4,362.2z M240.2,387.2l1.3-0.3l0.3,1.1c-6.3,1.9-9.8,2.9-10.5,3.1c-0.4,0.1-1,0.4-1.7,1\
                  c-0.1-0.4-0.9-0.4-2.5-0.1C226.8,390.9,231.2,389.3,240.2,387.2L240.2,387.2z M178.1,404l1.4-0.3l-0.3-1.2l-1.4,0.3L178.1,404z\
                  M196.4,399.2l0.3,1.1l-3,0.2l-0.1-0.6L196.4,399.2z M161.4,410.7l0.1,0.6l-1.9,0.4l-0.1-0.6L161.4,410.7z M157.9,418l0.1,0.5\
                  l-2.3,0.5l-0.3-1.1L157.9,418z M163.4,416.8l0.1,0.5l-4.2,1l-0.1-0.5L163.4,416.8z M170.7,415.6l0.1,0.6l-11,2.5l-0.3-1.1\
                  C165.9,416.5,165.2,416.9,170.7,415.6L170.7,415.6z M225.8,402.8l0.9,1c-1.3,0.3-2.3,0.7-2.8,1.2l-1.3-0.2c-2,0.8-3.8,1.4-5.2,1.7\
                  l-1.2,0.3c-0.7,0.2-1.2-0.1-1.5-0.8l8.3-1.9L225.8,402.8z M231.7,401.5l5.9-1.4l0.1,0.6c-3.2,0.7-5.7,1.5-7.5,2.4l-0.1-0.6\
                  C230.6,402.4,231.1,402,231.7,401.5L231.7,401.5z M169.7,418.3l2.8-0.6l0.3,1.1c-1.2,0.3-0.3,0.3-1.8,1c-2.9,0.3-2.3-0.1-6.9,1\
                  l-0.1-0.6L169.7,418.3z M177.3,417c0.8-0.2,1.3,0.1,1.4,0.9l-1.7,0.4c-0.7,0.2-1.2-0.1-1.5-0.9L177.3,417z M146,480.2l0.1,0.6\
                  c0.8-0.2,1.1-0.6,0.9-1.4l-0.1-0.6C146.2,479,145.9,479.4,146,480.2L146,480.2z M148.4,490.2c0.2,0.7,0.6,1,1.4,0.8\
                  c0.8-0.2,1.1-0.6,0.9-1.4l-0.1-0.6l-1.2,0.3L148.4,490.2z M212.2,507.4c0.8-0.2,1.2,0.1,1.4,0.8l0.1,0.6l-2.3,0.5\
                  c0.2-0.8,0.2-1.4,0.1-1.8L212.2,507.4z')
                  path(d='M304.8,322.4c-5.2,3.7-11.1,7.5-17.7,11.2l0.1,1.1c0.4,0,1-0.3,1.8-0.8c0.8-0.1,1.2,0.3,1.3,1l1.1-0.6l0.5,0l0,0.5\
                  c0.1,0.6-4.1,3.8-12.3,9.6l0.6,1.2l-0.5,0l-1.3-0.5c0,0.4-0.5,0.7-1.7,0.8l0,0.5l1.3,1.6c-0.4,0-1.1-0.1-1.9-0.5\
                  c-2.7,0.2-5.3,2.2-7.9,5.8l0.6,1.1c2.3-2.1,3.6-3.2,4-3.2l0.1,1.7c-0.4,0-1,0.3-1.8,0.8l1.5,2.1c2.7-3,5.7-5.5,8.9-7.6\
                  c1.6,0.5,2.5,1,2.5,1.5l1.2-0.1c9-6.6,17.8-11.3,26.5-14.2l0.1,1.1c-1.6,2.4-2.7,3.6-3.3,3.7c0.1,0.8,0.3,1.5,0.7,2.2\
                  c0.1,1.5-3.8,11.5-11.8,30c-18.3,42.9-33.6,74.7-46,95.3c0,0.4,0.3,1,0.8,1.7c3.1-0.7,5-1.5,5.8-2.2l0.5,0l0.1,1.1l1.3-0.1l1.1-0.6\
                  c0,0.3,0.4,0.5,1.2,0.4l0.1,1.2c0.1,1.1-0.6,2.8-1.9,5.2c-1.3,1.4-2.7,4.4-4.1,8.9l0.1,0.6l1.2-0.1c5-5.6,8.7-11,11.3-16.4\
                  c14.5-4.3,25.5-8.4,33.2-12.5c7.8-0.7,13.6-2.7,17.6-6l-0.1-0.6l-3,0.9l-0.6,0.1l-0.1-0.6c5.7-0.8,9.6-2.1,11.7-3.8\
                  c11-8.5,19.3-14.5,25-18c17.4-12.8,25.6-25,24.6-36.8c-0.1-1.2-3.9-6-11.5-14.4c-0.1-1.6,2.5-3.9,7.8-6.9l15.2-13.2\
                  c3.4-4.3,5.4-11.3,6-21l-0.2-2.2c-0.6-6.7-5.5-12.1-14.7-16.3c-5.5-3.7-15.3-5.7-29.4-6.1C339,310.8,323.7,315,304.8,322.4\
                  L304.8,322.4z M386.2,323.2l-0.6,1.2l-16.8-7.1C380.1,317.8,385.9,319.7,386.2,323.2L386.2,323.2z M318,370\
                  c1.2-6.3,2.5-9.8,3.9-10.6l12.7-28.4c-0.1-1.7,2.5-3.1,8-4.1l1.8-0.2l0.1,1.7c5.4-0.9,8.7-1.4,10.1-1.5c10-0.9,15.2,1.2,15.6,6\
                  l1.2-0.1l-0.2-2.7l1.2-0.1c2.9,1.6,4.4,3.5,4.6,5.8c0.1,1.6-0.7,3.6-2.4,6c-0.8,0.1-1.2-0.5-1.3-1.6l-1.2,0.1l-0.4,3.4\
                  c-5.1,7.7-8.7,11.6-11,11.8c-2,2.8-3.3,4.2-3.9,4.2c-1.6,1.9-5.9,5.2-13,9.7c-2.4,0.2-11.1,3.6-26.2,10.2c-0.7-0.3-1.6-0.4-2.4-0.3\
                  l-0.1-1.1C314.9,376.1,315.9,373.4,318,370L318,370z M387.8,335l0.1,1.2c-0.6,0-1.7-1.8-3.5-5.4l-0.1-1.1\
                  C385.4,329.6,386.6,331.4,387.8,335L387.8,335z M277,348.6l0.1,0.6c-0.4,0-1,0.3-1.8,0.7l-0.5,0l-0.1-1.1L277,348.6z M313.7,347.7\
                  l0.1,1.7c-0.6,0-1.3,0.9-2.2,2.4l-0.1-1.1c1-1.3,1.5-2.3,1.5-3L313.7,347.7z M308,359.5l0.2,2.2l-0.6,0.1l-0.2-2.2L308,359.5z\
                  M306.6,363.6c-0.1,1.9-0.6,2.9-1.5,3l-0.6,0.1c0.7-1.3,1-2.3,0.9-3L306.6,363.6z M304,369.5l0.1,0.6l-1,1.8l-1.2,0.1l-0.1-0.6\
                  c1.2-0.1,1.8-0.7,1.7-1.9L304,369.5z M301.5,374.8l-0.4,2.9l-0.5,0l-0.2-2.9L301.5,374.8z M363.1,376.9l2.5,1.5\
                  c0.1,0.7-0.3,1.2-1.1,1.2c-1.1-0.7-1.9-1-2.5-0.9L362,377L363.1,376.9z M314.9,383.3l0.1,1.1l-2.4,0.2l-0.1-1.1L314.9,383.3z\
                  M353.8,387.4c1.7,0.8,2.5,1.5,2.6,2.1l0,0.5c-1.6,0.1-3.1-0.7-4.5-2.5L353.8,387.4z M303.7,399.7c6.8-0.6,17.5-3.8,32.2-9.6\
                  l3.7-0.3c7.4-0.6,12.9,0.8,16.6,4.3l0.2,2.2c-2.7,7.8-5.7,12.4-9,13.8l-15.1,12.2c-11.3,7.4-17.4,11.1-18.4,11.2\
                  c-18,9.9-29.2,15-33.6,15.4l-0.6,0.1C280.1,446.9,288.1,430.5,303.7,399.7L303.7,399.7z M320,393.2l0.1,0.6l-2.4,0.2l-0.1-0.6\
                  L320,393.2z M374.5,390.7l0.4,4.6c-0.6,1.1-1.1,1.7-1.7,1.8l-0.7-7.8C373.8,389.7,374.5,390.2,374.5,390.7L374.5,390.7z\
                  M282.2,429.9c-0.8,3.8-1.6,5.8-2.4,5.8l0-0.5C279.5,433.4,280.3,431.6,282.2,429.9L282.2,429.9z M297.3,451.3\
                  c4.4-0.8,16.5-7.1,36.3-19l0.1,1.1c0,0.5-1.6,2-5.1,4.4c-10,5-16,8.3-17.8,10c-10.9,3.8-16.3,6.2-16.2,7.1c-9.7,3.8-16,6.6-19.1,8.4\
                  c-0.7,0.1-1.8-0.2-3.1-0.9c-0.2-2,0.7-3.5,2.6-4.7c1.7-0.1,3.3,0.1,4.8,0.7c1.8-0.9,4.9-1.9,9.4-3.1l-0.1-1.1l-3.7,0.3\
                  c0.4-0.7,3.9-2.3,10.4-4.9l1.8-0.2l0,0.5c-3.1,0.3-4.8,1.2-5.2,2.8c0.1,0.7,0.5,1.1,1.3,1C296.2,452.5,297.3,451.6,297.3,451.3\
                  L297.3,451.3z M278.6,437.6l0,0.5c0.1,0.8-0.3,1.3-1.1,1.3l-0.1-0.6C277.4,438.3,277.8,437.8,278.6,437.6L278.6,437.6z M307,445.4\
                  c-1.4,0.1-4.1,1.3-8.1,3.5l-0.6,0.1l-0.1-1.1c2.9-0.3,5.5-1.4,7.5-3.4C306.5,444.4,306.9,444.7,307,445.4L307,445.4z M277.6,453.6\
                  l1.8-0.2l0.1,0.6c-0.4,0-1,0.3-1.8,0.7l-1.2,0.1C276.4,454.2,276.8,453.8,277.6,453.6L277.6,453.6z M265.5,460.3l1.2,0.5\
                  c-0.4,3.5-1.5,5.3-3.1,5.4c-1.4-0.6-2.6-0.9-3.7-0.8l-0.1-1.7c-0.1-0.6,0.3-1,1.1-1.2c0.8-0.1,1.2,0.5,1.3,1.6\
                  C264.2,461.6,265.3,460.3,265.5,460.3L265.5,460.3z')
                  path(d='M69.4,317.4c-6.8,5-14.6,9.9-23.3,14.7l0.1,1.5c0.6,0,1.3-0.4,2.3-0.9c1-0.1,1.6,0.3,1.6,1.3l1.6-0.9l0.8-0.1l0.1,0.7\
                  c0.1,0.7-5.4,5-16.3,12.7l0.9,1.4l-0.8,0.1l-1.7-0.6c0,0.5-0.7,0.8-2.3,0.9l0.1,0.8l1.8,2c-0.6,0-1.4-0.1-2.4-0.5\
                  c-3.5,0.3-7,2.9-10.4,7.7l0.9,1.4c3-2.7,4.7-4.1,5.2-4.1l0.2,2.2c-0.5,0-1.3,0.4-2.3,0.9l1.9,2.8c3.6-3.9,7.5-7.2,11.9-9.9\
                  c2.2,0.6,3.3,1.2,3.3,2l1.6-0.1c11.7-8.7,23.3-14.9,34.8-18.8l0.1,1.5c-2.1,3.2-3.6,4.8-4.4,4.9c0.1,1.1,0.5,2,1.1,2.9\
                  c0.2,2-5,15.1-15.6,39.5C36,440,15.8,481.8-0.5,509c0,0.5,0.4,1.3,0.9,2.2c4-1,6.6-1.9,7.7-2.9l0.9-0.1l0.1,1.5l1.5-0.1l1.6-0.9\
                  c0,0.5,0.6,0.7,1.6,0.6l0.1,1.5c0.1,1.5-0.7,3.8-2.6,6.9c-1.7,1.9-3.4,5.8-5.3,11.7l0.1,0.7l1.5-0.1c6.5-7.3,11.5-14.5,14.9-21.5\
                  c19.1-5.6,33.6-11.1,43.7-16.5c10.1-0.9,17.9-3.5,23.1-7.9l-0.1-0.8l-3.8,1.1l-0.9,0.1l-0.1-0.8c7.4-1.1,12.6-2.8,15.4-5\
                  c14.5-11.2,25.4-19.1,32.8-23.8c22.9-16.8,33.7-33,32.4-48.4c-0.1-1.6-5.2-7.9-15.1-18.9c-0.2-2.1,3.3-5.1,10.3-9.1l19.9-17.5\
                  c4.4-5.7,7.1-14.9,8-27.6l-0.3-3c-0.8-8.9-7.2-16.1-19.4-21.6c-7.2-4.9-20.1-7.5-38.7-7.8C114.4,302.4,94.2,307.8,69.4,317.4\
                  L69.4,317.4z M176.6,318.7l-0.6,1.5l-22.2-9.3C168.6,311.5,176.2,314.1,176.6,318.7L176.6,318.7z M86.8,380.3\
                  c1.5-8.2,3.2-12.9,5.1-14l16.6-37.3c-0.2-2.3,3.3-4.1,10.6-5.3l2.4-0.2l0.2,2.1c7.2-1.1,11.6-1.7,13.3-1.9c13.2-1.1,20,1.5,20.6,8\
                  l1.5-0.1l-0.3-3.8l1.6-0.1c3.9,2.1,6,4.7,6.2,7.8c0.2,2.1-0.9,4.7-3.4,7.8c-1,0.1-1.6-0.6-1.7-2.1l-1.6,0.1l-0.4,4.5\
                  c-6.7,10-11.5,15.1-14.5,15.4c-2.7,3.7-4.4,5.6-5.1,5.7c-2.1,2.5-7.8,6.8-17.2,12.8c-3.1,0.3-14.6,4.7-34.5,13.4\
                  c-1-0.5-2-0.6-3.2-0.5l-0.1-1.4C82.7,388.3,83.9,384.7,86.8,380.3L86.8,380.3z M178.7,334.3l0.1,1.4c-0.8,0.1-2.3-2.3-4.5-7.1\
                  l-0.1-1.4C175.6,327,177.1,329.4,178.7,334.3L178.7,334.3z M32.7,352.1l0.1,0.7c-0.5,0-1.3,0.4-2.3,0.9l-0.8,0.1l-0.1-1.4\
                  L32.7,352.1z M81,350.9l0.2,2.2c-0.7,0.1-1.7,1.1-2.9,3.2l-0.1-1.5c1.4-1.7,2.1-3,2.1-3.9L81,350.9z M73.6,366.5l0.3,3l-0.8,0.1\
                  l-0.3-3L73.6,366.5z M71.7,371.9c-0.2,2.5-0.8,3.8-2.1,3.9l-0.8,0.1c0.9-1.7,1.4-2.9,1.3-3.8L71.7,371.9z M68.4,379.7l0.1,0.7\
                  l-1.4,2.4l-1.5,0.1l-0.1-0.7c1.5-0.1,2.2-0.9,2.1-2.4L68.4,379.7z M65,386.7l-0.4,3.7l-0.8,0.1l-0.3-3.7L65,386.7z M146.1,389.4\
                  l3.3,2c0.1,1-0.4,1.6-1.4,1.7c-1.4-0.9-2.5-1.3-3.3-1.3l-0.2-2.2L146.1,389.4z M82.6,397.9l0.1,1.4l-3.1,0.3l-0.1-1.4L82.6,397.9z\
                  M133.8,403.1c2.2,1,3.3,2,3.4,2.8l0.1,0.7c-2.1,0.2-4-0.9-5.8-3.3L133.8,403.1z M67.8,419.3c9-0.8,23.2-5,42.5-12.6l4.7-0.4\
                  c9.8-0.8,17.1,1,21.9,5.6l0.3,3c-3.6,10.4-7.6,16.4-11.9,18.3l-20,15.9c-14.9,9.8-22.9,14.7-24.1,14.8\
                  c-23.7,13.1-38.5,19.8-44.2,20.3l-0.9,0.1C36.9,481.5,47.4,459.9,67.8,419.3L67.8,419.3z M89.4,410.8l0.1,0.7l-3.2,0.3l-0.1-0.7\
                  L89.4,410.8z M161.2,407.6l0.5,5.9c-0.7,1.6-1.4,2.4-2.2,2.4l-0.9-10.4C160.3,406.2,161.1,406.9,161.2,407.6L161.2,407.6z\
                  M39.5,459.2c-1,5.1-2.1,7.7-3.2,7.8l-0.1-0.7C36,463.7,37.1,461.4,39.5,459.2L39.5,459.2z M59.5,487.4c5.8-1.1,21.7-9.5,47.8-25\
                  l0.1,1.4c0.1,0.6-2.2,2.5-6.7,5.8c-13.3,6.5-21.1,11-23.4,13.3c-14.4,5-21.5,8.1-21.4,9.3c-12.8,5.1-21.2,8.8-25.2,11.1\
                  c-0.9,0.1-2.3-0.3-4.1-1.1c-0.2-2.6,0.9-4.7,3.5-6.4c2.2-0.2,4.4,0.1,6.4,1c2.4-1.2,6.5-2.6,12.4-4l-0.1-1.5l-4.7,0.4\
                  c0.6-0.8,5.1-2.9,13.7-6.4l2.4-0.2l0.1,0.7c-4,0.3-6.3,1.6-6.8,3.7c0.1,0.9,0.6,1.4,1.6,1.3C58,488.8,59.5,487.7,59.5,487.4\
                  L59.5,487.4z M34.9,469.3l0.1,0.7c0.1,1-0.4,1.6-1.4,1.7l-0.1-0.7C33.4,470.1,33.9,469.5,34.9,469.3L34.9,469.3z M72.3,479.5\
                  c-1.9,0.2-5.4,1.7-10.7,4.7l-0.8,0.1l-0.1-1.5c3.8-0.3,7.1-1.8,9.8-4.5C71.6,478.1,72.2,478.6,72.3,479.5L72.3,479.5z M33.5,490.3\
                  l2.4-0.2l0.1,0.8c-0.6,0-1.3,0.4-2.3,0.9l-1.5,0.1C32.1,491.2,32.5,490.6,33.5,490.3L33.5,490.3z M17.6,499.2l1.7,0.7\
                  c-0.6,4.5-1.9,6.8-4.2,7c-1.8-0.8-3.4-1.1-4.9-1l-0.2-2.2c-0.1-0.9,0.4-1.4,1.5-1.7c1-0.1,1.6,0.6,1.7,2.1\
                  C15.9,500.8,17.4,499.2,17.6,499.2L17.6,499.2z')
                  path(d='M461.2,302.7l-1.3-0.5l-21.3,3.3c-0.8-0.4-1.8-0.6-2.9-0.5c-1.2,0.1-3,0.5-5.7,1.2l-10.3,4.3l0.8,1.3c0.5,0,1.2-0.3,2.1-0.8\
                  l3.6,0.3l-0.5,3.4c-3.3,1.5-5.3,3.7-5.8,6.6c-5,2.2-7.5,3.8-7.5,4.8l0.1,0.6l0.8-0.1l1.4-0.7l1.6,1.9l0.2,2.6\
                  c0.1,0.8-8.4,18.7-25.4,53.6c-14.7,33.6-22.4,52-23.2,55.3c-5,1.4-8,3.5-8.8,6.2c0.1,0.9,1.6,1.4,4.5,1.7l0.1,1.3l-1.3,2.2l0.2,2.6\
                  c0.1,1.4,3.8,2.4,11,3.2c0-0.5,0.2-0.7,0.7-0.8c0.1,1.6-0.3,4.8-1.4,9.6l0.8-0.1c3-4.1,4.4-6.9,4.3-8.5l0.6-0.1\
                  c0.7-0.1,1.5,0.8,2.4,2.6c-0.9,0.4-4.1,7.6-9.5,21.7l0.8,1.3l0.8-0.1c6.7-16.9,10.9-26.3,12.6-28.1c8.8-0.8,23.9-2.3,45.5-4.6\
                  l1.3-0.8c0,0.5,0.3,0.7,0.8,0.6l1.4-0.1l1.3-0.8c0,0.5,0.3,0.7,0.8,0.6l16.3-1.4c4.3-0.4,6.4-1.7,6.2-3.9c-0.1-0.6,2.5-1.3,7.7-2\
                  c0.5,0,1.2,0.1,2.2,0.4c0-0.4,2.5-0.8,7.7-1.3c0.1-2.7,1-4.2,2.6-4.3l-0.1-1.3c-1.4,0.1-3.1,0.5-5,1.1c-3.4-0.2-5.6-0.4-6.5-0.8\
                  c-0.9,0.5-1.6,0.8-2.1,0.8l-11.4,0.4l-1.4,0.7c0-0.4-0.3-0.6-0.8-0.5l-0.6,0.1l-1.5,0.7c0-0.4-1.2-0.7-3.6-1l-1.4,0.8l-2.8,0.2\
                  l-0.1-0.7c14.6-1.6,21.9-3.6,21.7-6c0.9-0.1,1.4,0.4,1.5,1.3l4.3-1.1l-0.1-1.3l-35,1c0,0.5-0.2,0.7-0.7,0.8l-4.3-0.4\
                  c-1.1,0.1-2,0.4-2.7,1l-1.6-0.6c-4.4,0.4-7.7,0.9-9.9,1.6c-3-0.2-6.3-0.2-10,0.1l-7.9,0.7l-3.6-0.4c-0.2-2.3,4.3-13.7,13.6-34.2\
                  c2.7-6.9,5.2-11.2,7.5-12.8c0.5,0,1.2,0.1,2.2,0.5l5.6-1.9l2.9,0.5c4.8-0.4,10.4-1.8,16.8-4.1c1.6-0.1,2.8,0,3.6,0.3l4.3-1l12.7-1.1\
                  c5.4-0.5,11.3-1.7,17.6-3.6l-0.1-1.3c-2.4,0.2-3.6-0.2-3.7-1.1c-0.2-1.8-1.9-2.5-5.2-2.2l-0.1-1.3l3.5-1l9.2-0.8l-0.1-1.3\
                  c-0.4,0-2.2,0-5.7-0.1l-0.1-1.4l3.6-0.3c0.9-0.1,1.4-0.6,1.3-1.4c-4.8,0.1-7.2-0.1-7.2-0.7c-33.3,1.6-49.9,1.9-50,0.9\
                  c-0.5,0-1.2,0.3-2.1,0.9l-0.9-1.4c8.8-18.7,14-28.2,15.5-28.3c0.1,0.7-0.3,1.9-1.1,3.5l0.1,0.6l1.4-0.1c3.5-8.4,6.4-12.7,8.9-12.9\
                  c10.4-0.9-1.5-1.6,20.9-5.1c0.9,0.4,1.6,0.6,2,0.5c8.8-1.8,21-3.6,36.7-5.5l-0.1-1.3l-8.4,0.8l-0.1-1.3c1-0.1,1.8-0.4,2.5-1l0.1,0.7\
                  c0.5,0,1.1-0.3,1.9-0.9c1.4-0.1,2.5,0,3.3,0.4c2.9-0.8,5.2-1.2,7-1.4l5.2-0.5c1.3-0.8,1.9-1.5,1.8-2.2l0-0.6c-1.3,0.1-2.8,0-4.6-0.3\
                  c-0.1-0.7,0.3-1.2,1.2-1.4l9.7-0.9l4.5-1.1c0,0.5,0.3,0.7,0.6,0.7c0.5,0,1.1-0.3,1.9-0.9c2.3,0.3,3.7,0.4,4,0.3\
                  c1.8-1.7,3.9-3.1,6.2-4c-1-1-1.5-1.8-1.6-2.5l-6.5,0.6c0-0.5-0.3-1.1-0.7-2c0-0.6,1.4-1.2,4.4-1.8l1.3,0.5l1.2-0.7\
                  c0,0.4,0.3,0.6,0.7,0.5l1.2-0.7c0,0.4,0.3,0.6,0.7,0.5l0.6-0.1l-0.1-1.3c-0.9,0.1-3.3,0.1-7.1,0l-1.2,0.8l-0.1-0.7\
                  c-30.5,2.5-47.8,3.9-51.9,4.3c-0.5,0-2.7,0-6.4-0.1c0,0.5-0.4,0.8-1.3,0.8l-1.3-0.6l-4.5,1.1c-1,0.1-2.8,0-5.3-0.2\
                  c-0.7,0.5-1.5,0.9-2.5,1c-1,0.1,24.2-1.4,23.4-1.8l-3.9,1.1l-0.6,0.1c-1.6,0.1-3.6,0.1-6-0.2c-0.7,0.5-1.7,0.9-3.2,1\
                  c-1,0.1-1.9-0.1-2.6-0.5C469.8,300.9,466.6,301.7,461.2,302.7L461.2,302.7z M462.8,306.7c0,0.5,0.5,0.7,1.3,0.6l0.1,1.3l-1.3,0.1\
                  c-1,0.1-1.9-0.1-2.6-0.5c-0.7,0.6-1.6,0.9-2.5,1l0.4,0l-3.6-0.4l-0.1-0.6C458.9,307.9,460.3,307.4,462.8,306.7L462.8,306.7z\
                  M466.1,306.4l0.7-0.1l0.1,1.3l-2,0.2C464.9,307.1,465.2,306.6,466.1,306.4L466.1,306.4z M473.8,305.6l0.1,0.7\
                  c-1.5,0.1-3.4,0.5-5.7,1.2l-0.7,0.1l0.6-1.4L473.8,305.6z M417,312.1l2.2-0.2l-0.1-1.3l-2.2,0.2L417,312.1z M432.7,310.7l0.8-0.1\
                  l1.5,0.6c0.1,0.9-0.4,1.4-1.3,1.4l-2.2,0.2l-0.1-0.7C431.3,311.4,431.8,311,432.7,310.7L432.7,310.7z M483,313.6l0,0.6l-4.5,0.4\
                  l0-0.6L483,313.6z M470.1,315.5l0.1,0.7l-2.6,0.2l-0.1-0.7L470.1,315.5z M482.5,316.5l9-1.5l4.6,0.2l0.1,0.7\
                  c-2.2,0.2-4.1,0.6-5.7,1.2c0-0.5-0.9-0.9-2.7-1.1l-7.1,2c-1.4-0.8-2.1-1.4-2.1-1.8L482.5,316.5z M473.6,318.5\
                  c0.9-0.1,1.3,0.3,1.4,1.2l-3.8,0.4l-0.1-1.3L473.6,318.5z M465.7,318.1l0.1,0.7l23.4-1.1l-0.1-0.7L465.7,318.1z M467.1,319.9l0,0.6\
                  L462,321l0-0.6L467.1,319.9z M433.6,346.4l0.1,0.7l1.5-0.1c0-0.5,0.1-1.2,0.5-2.1l-0.1-1.3C434.8,343.7,434.1,344.6,433.6,346.4\
                  L433.6,346.4z M382.1,421.2l0.1,0.6c0.1,0.9-0.4,1.4-1.4,1.5l-0.1-0.6C380.6,421.9,381.1,421.5,382.1,421.2L382.1,421.2z M380.8,424\
                  c0.1,1.3-0.8,4.5-2.6,9.7l-2.2,0.2c-0.1-0.9,1.1-4.1,3.4-9.7L380.8,424z M404.9,444.9c0.1,0.7-1.1,1.5-3.4,2.3l-4.4-0.3l-1.4,0.1\
                  l-0.1-1.3L404.9,444.9z M409.2,445.3l0.1,0.6l-3.6,0.3l-0.1-0.6L409.2,445.3z')
                
                // parcel 
                <div style="background: black;padding: 10px;display: inline-block;width: 120px;margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1068.58691 218.40186" fill="#E7DACB"><title>Asset 1</title><path d="M134.10156,41.99756c25.2002,0,42.6001,17.40039,42.6001,42.60059v54.60059c0,25.2002-17.3999,42.60059-42.6001,42.60059H66.90088v76.20117H23.7002V41.99756Zm24,46.80078c0-18.6001-10.80029-29.40039-29.40039-29.40039H42.30029V240.6001h6V164.39893h80.40088c18.6001,0,29.40039-10.7998,29.40039-29.40039ZM128.70117,65.39795c15.00049,0,23.40039,8.40039,23.40039,23.40039v46.2002c0,15.00049-8.3999,23.40039-23.40039,23.40039H48.30029v-93.001Zm-5.3999,75.60107c6.6001,0,10.2002-3.6001,10.2002-10.2002V92.99854c0-6.6001-3.6001-10.2002-10.2002-10.2002H66.90088V140.999Z" transform="translate(-23.7002 -40.79785)"/><path d="M223.79834,258.00049H179.09766L248.69873,41.99756h50.40039L368.7002,258.00049h-46.501l-14.09961-48.60156H238.19873ZM343.19922,240.6001l-55.5-181.20215H260.09863L203.69824,240.6001h5.7002l15-48.60059H322.7998L337.499,240.6001ZM263.69873,65.39795,226.19824,185.99951H320.999L284.09912,65.39795Zm9.8999,24.00049,22.80029,79.20068h-46.2002Z" transform="translate(-23.7002 -40.79785)"/><path d="M509.99512,258.00049l-34.7998-80.10107H440.39453v80.10107h-43.2002V41.99756H507.2959c25.2002,0,42.59961,17.40039,42.59961,42.60059v50.70068c0,20.3999-11.39941,35.7002-29.39941,40.80029l36,81.90137Zm18.90039-17.40039-34.7998-79.80127h7.7998c18.60059,0,29.40039-10.7998,29.40039-29.3999V88.79834c0-18.6001-10.7998-29.40039-29.40039-29.40039H415.79492V240.6001h6V160.79883h66L522.5957,240.6001ZM525.2959,131.39893c0,15-8.40039,23.3999-23.40039,23.3999H421.79492V65.39795h80.10059c15,0,23.40039,8.40039,23.40039,23.40039Zm-28.80078,6.2998c6.60059,0,10.2002-3.6001,10.2002-10.2002v-34.5c0-6.6001-3.59961-10.2002-10.2002-10.2002H440.39453v54.90039Z" transform="translate(-23.7002 -40.79785)"/><path d="M697.49316,91.79834c0-6.6001-3.59961-10.2002-10.2002-10.2002h-46.7998c-6.60059,0-10.2002,3.6001-10.2002,10.2002V208.19971c0,6.59961,3.59961,10.19922,10.2002,10.19922H687.293c6.60059,0,10.2002-3.59961,10.2002-10.19922V181.79932h43.20117V216.6001c0,25.19922-17.40039,42.59961-42.60059,42.59961H629.69238c-25.2002,0-42.59961-17.40039-42.59961-42.59961V83.39844c0-25.20068,17.39941-42.60059,42.59961-42.60059h68.40137c25.2002,0,42.60059,17.3999,42.60059,42.60059v34.80029H697.49316Zm-4.7998-27.6001c15,0,23.40039,8.3999,23.40039,23.3999v13.80029h6V87.59814c0-18.6001-10.7998-29.40039-29.40039-29.40039H635.09277c-18.59961,0-29.40039,10.80029-29.40039,29.40039V212.39893c0,18.60059,10.80078,29.40039,29.40039,29.40039h57.60059c18.60059,0,29.40039-10.7998,29.40039-29.40039V199.19971h-6v13.19922c0,15.001-8.40039,23.40039-23.40039,23.40039H635.09277c-15,0-23.40039-8.39941-23.40039-23.40039V87.59814c0-15,8.40039-23.3999,23.40039-23.3999Z" transform="translate(-23.7002 -40.79785)"/><path d="M920.38965,41.99756V82.79834H822.28809v44.40039h79.501V167.999h-79.501v49.20068h98.10156v40.80078H779.08789V41.99756ZM901.78906,240.6001v-6H803.68848v-84.001h79.501v-6.00049h-79.501V65.39795h98.10059v-6H797.68848V240.6001Z" transform="translate(-23.7002 -40.79785)"/><path d="M1001.68555,41.99756V217.19971h90.60156v40.80078H958.48535V41.99756Zm72.001,198.60254v-6H983.08594V59.39795h-6V240.6001Z" transform="translate(-23.7002 -40.79785)"/></svg></div> 

                // sketch
                svg(width='378px' height='86px' viewbox='0 0 378 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    g#sketch-app(fill-rule='nonzero')
                      g#sketch-app-logo
                        path#Shape(d='M128.188992,56.8617138 L128.11634,55.89 L127.141914,55.89 L121.093914,55.89 L120,55.89 L120.044795,56.9829967 C120.543867,69.160365 128.753532,77.226 143.353914,77.226 C157.279143,77.226 166.747914,69.9911483 166.747914,59.04 C166.747914,53.1184522 164.693534,48.927976 160.778833,46.0661622 C157.767516,43.8647614 154.166963,42.6239073 148.19641,41.3293443 C147.797486,41.2428476 147.381679,41.1543122 146.883403,41.0494613 C146.587521,40.9871995 145.525896,40.7649683 145.582237,40.77678 C134.739308,38.5036128 131.299914,36.5289237 131.299914,30.648 C131.299914,24.5666916 136.273043,20.694 144.613914,20.694 C152.728938,20.694 157.857573,25.6502434 158.096406,33.4521278 L158.127565,34.47 L159.145914,34.47 L165.109914,34.47 L166.184425,34.47 L166.159635,33.3957757 C165.87899,21.2345154 157.719276,13.05 144.529914,13.05 C131.603206,13.05 123.067914,20.8283391 123.067914,30.9 C123.067914,36.8048062 125.120118,40.9168746 129.040993,43.6642805 C132.027939,45.7572714 135.488151,46.8668408 141.592112,48.0992319 C141.87798,48.1569488 142.176238,48.2165293 142.531319,48.2869684 C142.751113,48.3305699 142.99935,48.379656 143.465218,48.471754 C149.240597,49.6144477 151.788878,50.3197385 154.113641,51.6715769 C156.999603,53.3497493 158.431914,55.7468655 158.431914,59.46 C158.431914,65.9068018 153.01151,69.582 143.521914,69.582 C134.437247,69.582 128.799402,65.0259561 128.188992,56.8617138 Z M183.757914,12 L183.757914,10.95 L182.707914,10.95 L176.743914,10.95 L175.693914,10.95 L175.693914,12 L175.693914,75 L175.693914,76.05 L176.743914,76.05 L182.707914,76.05 L183.757914,76.05 L183.757914,75 L183.757914,63.7670749 L192.246333,55.5000934 L207.405119,75.6316029 L207.720167,76.05 L208.243914,76.05 L215.635914,76.05 L217.751388,76.05 L216.472208,74.3650882 L197.959461,49.9804575 L215.032611,32.9882236 L216.835378,31.194 L214.291914,31.194 L206.311914,31.194 L205.874807,31.194 L205.566824,31.5041754 L183.757914,53.4683087 L183.757914,12 Z M259.105914,56.394 L260.092338,56.394 L260.153869,55.4094972 C260.164692,55.2363423 260.180741,54.9501209 260.19678,54.6052845 C260.209476,54.3323225 260.219947,54.0663344 260.227431,53.8148552 C260.235542,53.5423343 260.239914,53.2944351 260.239914,53.076 C260.239914,39.8967033 251.510612,30.186 238.609914,30.186 C225.733454,30.186 216.559914,40.5227549 216.559914,53.58 C216.559914,67.0161336 225.317654,77.058 238.693914,77.058 C248.808096,77.058 256.621781,71.0568937 259.437034,61.9542432 L259.857728,60.594 L258.433914,60.594 L252.217914,60.594 L251.476351,60.594 L251.228365,61.2928697 C249.460493,66.2750553 244.674125,69.582 238.777914,69.582 C231.069511,69.582 225.695993,64.2882888 224.727978,56.394 L259.105914,56.394 Z M224.972323,49.422 C226.333447,42.3536376 231.531935,37.662 238.609914,37.662 C245.90509,37.662 250.939644,42.199681 252.040866,49.422 L224.972323,49.422 Z M286.699914,38.334 L287.749914,38.334 L287.749914,37.284 L287.749914,32.244 L287.749914,31.194 L286.699914,31.194 L277.921914,31.194 L277.921914,20.064 L277.921914,19.014 L276.871914,19.014 L270.907914,19.014 L269.857914,19.014 L269.857914,20.064 L269.857914,31.194 L262.759914,31.194 L261.709914,31.194 L261.709914,32.244 L261.709914,37.284 L261.709914,38.334 L262.759914,38.334 L269.857914,38.334 L269.857914,63.492 C269.857914,71.7449923 274.138534,76.218 281.995914,76.218 C283.367352,76.218 284.549613,76.1358985 285.542361,75.9980169 C286.155788,75.9128186 286.579398,75.8245666 286.81294,75.7596938 L287.581914,75.5460899 L287.581914,74.748 L287.581914,69.372 L287.581914,68.0692146 L286.308863,68.3459648 C286.257979,68.3570265 286.1549,68.3780018 286.007661,68.4056092 C285.758175,68.4523879 285.48028,68.4993296 285.182145,68.5431729 C284.418645,68.6554524 283.661373,68.7274153 282.964187,68.7400455 C282.892473,68.7413447 282.8217,68.742 282.751914,68.742 C279.309872,68.742 277.921914,67.1252576 277.921914,63.072 L277.921914,38.334 L286.699914,38.334 Z M311.773914,77.058 C322.935724,77.058 330.816731,69.9948331 332.795914,59.9999604 L333.044223,58.746 L331.765914,58.746 L325.717914,58.746 L324.910564,58.746 L324.703155,59.5262538 C323.007659,65.9045484 318.405708,69.582 311.773914,69.582 C303.497642,69.582 297.787914,63.0533472 297.787914,53.664 C297.787914,44.2020218 303.487725,37.662 311.773914,37.662 C318.405708,37.662 323.007659,41.3394516 324.703155,47.7177462 L324.910564,48.498 L325.717914,48.498 L331.765914,48.498 L333.044223,48.498 L332.795914,47.2440396 C330.816731,37.2491669 322.935724,30.186 311.773914,30.186 C298.807945,30.186 289.639914,40.5958108 289.639914,53.664 C289.639914,66.660313 298.820569,77.058 311.773914,77.058 Z M347.893914,12 L347.893914,10.95 L346.843914,10.95 L340.879914,10.95 L339.829914,10.95 L339.829914,12 L339.829914,75 L339.829914,76.05 L340.879914,76.05 L346.843914,76.05 L347.893914,76.05 L347.893914,75 L347.893914,49.716 C347.893914,42.0124523 352.582874,37.494 359.695914,37.494 C366.489563,37.494 369.901914,41.4268794 369.901914,48.876 L369.901914,75 L369.901914,76.05 L370.951914,76.05 L376.915914,76.05 L377.965914,76.05 L377.965914,75 L377.965914,47.7 C377.965914,37.1776416 371.450406,30.186 360.703914,30.186 C355.175195,30.186 350.731176,32.2115513 347.893914,35.1187318 L347.893914,12 Z' fill='#000000')
                        polygon#Path(fill='#FDB300' points='20.9032258 2.83147321 47.9032258 0 74.9032258 2.83147321 95.8064516 30.6662946 47.9032258 86 0 30.6662946')
                        g#Group(transform='translate(0.000000, 30.666295)')
                          polygon#Path(fill='#EA6C00' points='19.403 0 47.903 55.334 0 0')
                          polygon#Path(fill='#EA6C00' transform='translate(71.855178, 27.667000) scale(-1, 1) translate(-71.855178, -27.667000) ' points='67.306678 0 95.806678 55.334 47.903678 0')
                          polygon#Path(fill='#FDAD00' points='19.403 0 76.403 0 47.903 55.334')
                        polygon#Path(fill='#FDD231' points='47.903 0 20.903 2.831 19.403 30.666')
                        polygon#Path(fill='#FDD231' transform='translate(62.153452, 15.333000) scale(-1, 1) translate(-62.153452, -15.333000) ' points='76.403452 0 49.403452 2.831 47.903452 30.666')
                        polygon#Path(fill='#FDAD00' transform='translate(85.355178, 16.748500) scale(-1, 1) translate(-85.355178, -16.748500) ' points='74.903678 30.666 95.806678 2.831 94.306678 30.666')
                        polygon#Path(fill='#FDAD00' points='0 30.666 20.903 2.831 19.403 30.666')
                        polygon#Path(fill='#FEEEB7' points='47.903 0 19.403 30.666 76.403 30.666')


              li
                // photoshop
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0', y='0', viewbox='0 0 240 240', enable-background='new 0 0 240 240', xml:space='preserve')
                  radialgradient#a(cx='97.71', cy='81.286', r='143.432', gradientunits='userSpaceOnUse')
                    stop(data-use-luminance-on-grayscale='true', offset='0', stop-color='#0E0E17', stop-opacity='.85')
                    stop(data-use-luminance-on-grayscale='true', offset='.767', stop-color='#0E0E17')
                  path(fill-rule='evenodd', clip-rule='evenodd', fill='url(#a)', d='M10 10h220v214H10z')
                  path(fill-rule='evenodd', clip-rule='evenodd', fill='#31C5F0', d='M0 0v234h240V0H0zm10 10h220v214H10V10zM58 54.79c0-.66 1.415-1.155 2.24-1.155 6.435-.33 15.883-.495 25.782-.495 27.72 0 38.516 15.18 38.516 34.65 0 25.41-18.428 36.3-41.033 36.3-3.795 0-5.115-.166-7.755-.166v38.42c0 .826-.33 1.156-1.155 1.156h-15.44c-.825 0-1.155-.33-1.155-1.156V54.79zm17.75 53.13c2.31.164 4.125.164 8.085.164 11.715 0 22.718-4.125 22.718-19.965 0-12.706-7.868-19.14-21.233-19.14-3.96 0-7.755.164-9.57.33v38.61zm86.072-11.88c-7.92 0-10.56 3.96-10.56 7.26 0 3.63 1.815 6.104 12.376 11.55 15.675 7.59 20.625 14.85 20.625 25.574 0 16.006-12.21 24.586-28.71 24.586-8.745 0-16.188-1.816-20.478-4.29-.66-.33-.825-.825-.825-1.65v-14.685c0-.99.495-1.32 1.155-.826 6.27 4.124 13.547 5.94 20.148 5.94 7.92 0 11.22-3.3 11.22-7.755 0-3.63-2.31-6.766-12.375-12.045-14.19-6.766-20.13-13.696-20.13-25.245 0-12.87 10.065-23.596 27.554-23.596 8.58 0 14.638 1.32 17.938 2.804.825.496.99 1.32.99 1.98V99.34c0 .824-.495 1.32-1.485.99-4.454-2.64-11.007-4.29-17.443-4.29z')

  article.idcard
    .contact
      h2.contactme
        | Contact me:
      p.rank
        span.glyphicon.glyphicon-envelope
        |  : 
        span  me (@) volkanongun.com