#nestle.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  NESTLE 
        p.lead
          a(target='_blank', href='http://www.bisoguknescafe.com/') http://www.bisoguknescafe.com/
        p.lead
          | bisoguknescafe.com was a boutique web site which illustrates recipies
          | of custom made cold Nescafe drinks mixes with fruits. Its designed
          | as a single page app with light parallax effects.
          | I was the lead front-end developer of the project.
        .frame
          img(src='images/projects/nescafe/1.png', alt='')
        .frame
          img(src='images/projects/nescafe/2.png', alt='')
        .frame
          img(src='images/projects/nescafe/3.png', alt='')
        .frame
          img(src='images/projects/nescafe/4.jpg', alt='')