#picusweb.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  PICUS SECURITY WEBSITE

        p.lead
          a(target='_blank', href='http://www.picussecurity.com/') http://www.picussecurity.com/

        p.lead
          | Picus Security needed a simple and concise web page to give information 
          | about company and the product.

        p.lead
          | Starting with a strategy document with personas, wireframes are produced to 
          | illustrate essential sections and call to action buttons are defined to 
          | redirect users to various pages. 
    
        p.lead
          | Furthermore, in the product page current usage statistics are provided 
          | to illustrate the effectiveness of the app. 
          | Website color tones had been chosen to emphasise the reliability of the product. 
          | Flat design approach with a responsive grid of 12 columns, is applied in the 
          | production of assets via Illustra- tor® or Sketch®. HTML (JADE), CSS (SCSS) 
          | and Javascript (jQuery) are used to develop the front-end code.

        .frame
          p 
            strong Sample Wireframe:
          img(src='images/projects/picus-website/picus-wireframe-main.png', alt='')
        .frame
          p 
            strong Sample Wireframe:
          img(src='images/projects/picus-website/picus-wireframe-company.png', alt='')
        .frame
          img(src='images/projects/picus-website/picus-request-demo.png', alt='')
        .frame
          img(src='images/projects/picus-website/picus-news.png', alt='')

