#picusapp.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  PICUS SECURITY VULNERABILITY SCANNER

        p.lead
          a(target='_blank', href='http://www.picussecurity.com/') http://www.picussecurity.com/

        p.lead
          | Picus Security open source browser app is developed with the Picus team 
          | to provide a simple and straightforward user interface for institutions, 
          | which represents scanned data of firewalls with real-time updated 
          | interactive charts.

        p.lead
          | A flat design and nearly colorless user interface was introduced in 
          | order to point out the security levels of the current hardware. Red 
          | colors are used to warn the engineer against cyber threats and green 
          | colors are used to indicate the secure parts of the system. User can 
          | get detailed information on current scan and also create pdf reports 
          | of the security status. Bootstrap frame- work and 12 column grid is 
          | used without responsivity, intentionally. Highcharts library was used 
          | for interactive charts and Node.js is used for communicating with a 
          | back-end Haskell engine.

        p.lead
  
        .frame
          img(src='images/projects/picus-app/picus-dashboard.png', alt='')
        .frame
          img(src='images/projects/picus-app/picus-current-assessment.png', alt='')
        .frame
          img(src='images/projects/picus-app/picus-catalog.png', alt='')
