#prototype.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  PROTOTYPE 
        h2  SPACE INVADERS 
        p.lead
          | A space invaders experiment to learn c# for fun. Only working level is 1-1 :). use arrow keys to move and spacebar to fire. check it out 
          a(href='http://volkanongun.com/games/spaceInvaders/spaceInvaders.html', target='_blank') here
        .frame
          img(src='images/projects/indie/1.png', alt='')
        .frame
          img(src='images/projects/indie/2.png', alt='')
        