a.totop(href='javascript:;')
  .arrow
    .icon.icon-arrow-right
    .square
      span
        svg(width='23px', height='15px', viewBox='0 0 23 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Artboard(fill='#FFFFFF', fill-rule='nonzero')
              polygon#Path(points='0 15 11.2 0 22.5 15 18 15 11.2 5.2 4.4 15')
