#wiidoo.pagecont
  .container.plain
    .row
      .jumbotron.project
        h1  WIIDOO Activity and Ticket Engine

        p.lead
          | Wiidoo is an activity browser and ticket selling software. 
          | Idea came to my mind while browsing for concert tickets 
          | and getting lost inside the website.

        p.lead
          | In the foreground the activity search resembles google's 
          | search UI, and in the background there is a easy to use and 
          | easy-to-buy UI for every ticket or activity you can dream of
          | i.e. concerts, theater plays, etc. 

        p.lead
          | Design/UX is implemented by bootstrap UI framework for sketch app 
          | help of sketch app, and open source helper libraries for sketch. 
  
        .frame
          img(src='images/projects/wiidoo/1.png', alt='')
        .frame
          img(src='images/projects/wiidoo/2.png', alt='')

        