

// Core variables and mixins
@import "sass-bootstrap/lib/_variables";
@import "sass-bootstrap/lib/_mixins";

// Reset
@import "sass-bootstrap/lib/_normalize";

// Core CSS
@import "sass-bootstrap/lib/_scaffolding";

@import 'sass-bootstrap/lib/_grid';
@import 'sass-bootstrap/lib/_jumbotron';

@import "sass-bootstrap/lib/_variables";
@import "sass-bootstrap/lib/_mixins";
@import "sass-bootstrap/lib/_normalize";
@import "sass-bootstrap/lib/_print";


@import "animate"; 

$navyblue : #334b6d;
$purplish : #474f98;
$gold : #FFCC11;
$strawYellow : #ffe277;
$crazypink : #ff2952;
$crazydarkpink : #eb1d44;
$darkpink : #eb1d44;

$lightcoffee : #d9d3c4;
$darkcoffee : #98948a;
$darkercoffee : #71706c;

$phosporange : #FF4100;

*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    overflow: hidden;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
    width: 100%;
    
}

a {
    color:darken($navyblue, 10%);
    text-decoration:underline;
}

// animation triggers

.x, a,.onepage-pagination li a:before {
    transition: all 300ms;
    -webkit-transition: all 300ms;
}


html,body {
    background: #1c92d2; /* fallback for old browsers */
    background: linear-gradient(to bottom, #D5DBE8, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#st-container {
    opacity: 0;
    z-index: 2;
}

nav {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}

nav li a {

    text-decoration: none;
    color:white;
    display: block;
    padding: 1em 1em 1.2em .4em;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    position: relative;
    -webkit-transition: 0.2s;

    
    span{
        position: absolute;
        width: 66%;
        height: 0;
        z-index: 0;
        top: 50%;
        margin-top: -16px;
        left:21px;
        transition: 0.2s;
        -webkit-transition: 0.2s;

        background: white;
    }

    cite{
        position: relative;
        z-index: 1;
        font-style: normal;
    }

    &:hover,&.active {
        color:$navyblue;
        text-decoration: none;

        span {
            height: 58%;
        }
    }

}

.st-menu.works,.st-menu.games {
    background: lighten($navyblue, 5%);

    ul{
        margin-top: 154px;
    }

    a { 
        span{
            display: inline-block;
            padding: 0 10px;
            background: white;
        }
    }
}


svg#logo {
    width: 100%;
    fill : white;
}


#openMenu {
    text-decoration: none;
    color:darken($navyblue, 20%);
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 1em;
    display: inline-block;
    opacity: 1;
    z-index: 2;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;

    &:hover{
        color:darken($navyblue, 30%);
    }
}

#main article {
    text-align: center;
    position: absolute;
    left:0%;
    top:50%;

    a {
        color:darken($navyblue, 20%);
        display: inline-block;padding: 0 5px;
    }

    a:hover,a:active {
        text-decoration: none;color:white;
        background: $navyblue;
    }

}

#main article.plain {
    text-align: left;
}



.project {

    margin-top: 10%;

    .frame{
        position: relative;
        margin-bottom:100px;
        opacity: 0;
        
        img {
            width: 100%;
            display: inline-block;
        }

        &:after{
            top: 100%;

            background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, darken($navyblue, 20%)));
            background-image: linear-gradient(135deg, lighten($navyblue, 5%) 25%, transparent 25%), linear-gradient( 225deg, darken($navyblue, 2%) 25%, transparent 25%);
            background-position: 50%;

            right: 0;
            left: 0;
            z-index: 10;
            display: block;
            height: 90px;
            background-size: 50px 100%;
            position: absolute;
            content: '';
            pointer-events: none;
        }
    }

    .frame.iphone{
        width: 49%;display: inline-block;
    }

}

.totop {
    
    margin: 80px;
    position: relative;
    display: block;
    min-height: 50px;
    
    .arrow {
        display: block;
        margin:0;

        svg{
            left: 8px !important;
            top: -6px !important;
        }
    }
}


#main {

    text-align: center;
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

}

.idcard {

    width:600px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;

    .profilepic {
        display: none;
        width: 150px;
        height: 150px;
        margin: 12% auto 0 auto;
        background: url(../images/me-lowpoly.png) no-repeat center center;
        border-radius: 25px;
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }

    p {
        margin:0;padding:0;
    }

    p.name{
        display: none;
        font-size: 70px;
        color:$navyblue;
    }

    p.rank{
        display: none;
        color: lighten($navyblue, 10%);
        font-size: 31px;
    }

    p.keyb{
        display: none;
        margin: 20px 0;
        font-size: 15px;
        color:$navyblue;

        strong{
            color:darken($navyblue, 20%);
        }
    }

}

.aboutme {
    
    .container{
        position: relative;
    }

    .jumbotron {
        
        padding-top: 0;
        width: 816px;
        height: 453px;
        margin: 25% 0 0 -10% !important;

        a {font-weight: bold;font-family: 'Montserrat', sans-serif; letter-spacing: -1px;}

        h1{
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            color:darken($navyblue, 20%);
        }

        p{
            font-size: 90%;
            color: darken($darkercoffee, 30%) !important;
        }

        .und {
            border-bottom: 1px solid $darkercoffee;
        }
    }

}

.skillset{

    .jumbotron {
        
        padding-top: 0;
        width: 816px;
        height: 453px;
        margin: 25% 0 0 -10% !important;

        a {font-weight: bold;font-family: 'Montserrat', sans-serif;letter-spacing: -1px;}

        h1{
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            color:darken($navyblue, 20%);
        }

        p, ul {
            font-size: 80%;
        }

        ul li{
            font-size: 90%;
            line-height: 26px;
        }

        .und {
            border-bottom: 1px solid $darkercoffee;
        }
    }

    svg {
        width: 100px;
        margin: 0 40px 0 0px;
        height: 100px;
    }
}




.container {
    // font-size: 15px;
    line-height: 1.6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: left;
    color:darken($navyblue, 10%);

    h1{
        font-family: 'Montserrat', sans-serif;
    }
}

.preloader {

    font-family: 'Montserrat', sans-serif;

    position: fixed;
    width: 100%;
    height: 100%;
    color: $navyblue;
    text-align: center;
    line-height: 100%;
    font-size: 200%;
    z-index: 3;
    padding: 0 40px 0 0;

    #percentage{
        display: inline-block;
        font-size: 430%;
        line-height: 110%;
    }
}



.arrow {
  width: 60px;
  height: 60px;
  margin: 100px 0 0 100px;
  cursor: pointer;
  position: absolute;
  left:50%;
  margin-left: -10px;
  top:90%;
  display: none;
  margin-top: -30px;
  -webkit-transition: opacity 0.3s ease-out;
}

.arrow .icon {
  width: 60px;
  height: 60px;;
  margin: 18px 0 0 22px;
  font-size: 24px;
  color: #ffffff;
  position: fixed;
  -webkit-transform: translateX(-40px) translateY(4px) rotate(90deg);

  z-index: 2;
}


.arrow .square {
  width: 32px;
  height: 32px;
  overflow: hidden;  
  margin: 9px 0 0 -9px;
  background: darken($navyblue, 10%);
  position: absolute;
  -webkit-transform: scale(1) rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 2px 2px 0px darken($navyblue, 25%);

    svg{
        width:17px;-webkit-transform: scale(1) rotate(-45deg);
        position: relative;top: 11px;left: 10px;
        
        .st0{
            fill:$lightcoffee;
        }
    }
}


.arrow:hover .square {
  background:rgba(0,0,0,.3);
  -webkit-transform: scale(1.5) rotate(45deg);
}

.pagecont{display: none;}
















#vertexOcean{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 0;
}

.skillset_list{list-style: none;margin:0;padding: 0}
.skillset_list li {margin-bottom: 40px}
.skillset_list li svg {vertical-align: middle;}
















//                   _                 __           __                             
//      ____ _____  (_)___ ___  ____ _/ /____  ____/ /  ____ ___  ___  ____  __  __
//     / __ `/ __ \/ / __ `__ \/ __ `/ __/ _ \/ __  /  / __ `__ \/ _ \/ __ \/ / / /
//    / /_/ / / / / / / / / / / /_/ / /_/  __/ /_/ /  / / / / / /  __/ / / / /_/ / 
//    \__,_/_/ /_/_/_/ /_/ /_/\__,_/\__/\___/\__,_/  /_/ /_/ /_/\___/_/ /_/\__,_/  
//                                                                                 



.st-content {
    //overflow-y: scroll; firefox bug!!!
    overflow-y: hidden;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

// .st-pusher::after {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 0;
//     height: 0;
//     background: rgba(0,0,0,0.2);
//     content: '';
//     opacity: 0;
//     transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
//     -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
// }

// .st-menu-open .st-pusher::after {
//     width: 100%;
//     height: 100%;
//     opacity: 1;
//     -webkit-transition: opacity 0.5s;
//     transition: opacity 0.5s;
// }

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 150px;
    height: 100%;
    background: $navyblue;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em .7em 0em .7em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

// .st-menu ul li:first-child a {
//     box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
// }

// .st-menu ul li a:hover {
//     background: rgba(0,0,0,0.2);
//     box-shadow: inset 0 -1px rgba(0,0,0,0);
//     color: #fff;
// }

#nestle {display: none}
#kinder {display: none}
#mars {display: none}
#cocacola {display: none}
#istinyepark {display: none}
#startups {display: none}
#ggj {display: none}
#indie {display: none}



/* Effect 8: 3D rotate out */

.leftIn.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.leftIn .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.leftIn.st-menu-open .st-pusher {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
}

.leftIn.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.leftIn.st-menu-open .leftIn.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.leftIn.st-menu::after {
    display: none;
}

.leftIn.st-menu-open #openMenu {
    opacity: 0;
}


// pusher menu end



/* Effect 13: Fall down */


.works.st-container,.games.st-container  {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.works.st-menu-open .st-pusher,.games.st-menu-open .st-pusher  {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
}

.works.st-menu,.games.st-menu  {
    z-index: 3;
    opacity: 1;
    -webkit-transform: translate3d(2px, -100%, 0);
    transform: translate3d(2px, -100%, 0);
}

.works.st-menu-open .works.st-menu,.games.st-menu-open .games.st-menu  {
    visibility: visible;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-speed: 0.2s;
    transition-speed: 0.2s;

     -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
}

// fall menu end


// page specific classes

// .home
// .works
// .games
// .contact

.contact{ 

    .contactme {
        margin: 20% auto 0 auto;
        font-size: 25px;
        color:darken($navyblue, 10%);
    }

    p.name {
        font-size:30px!important;
    }
    
    .followme {
        margin: 40px auto 0 auto;
        font-size: 25px;
        color:darken($navyblue, 10%);
    }

    .rank {
        margin: 0;
        font-size: 20px !important;

        .glyphicon {
            font-size:80%;
            color:darken($navyblue, 20%);
        }
    }
}


.jumbotron {background: transparent;}

svg {width: 150px;}
.verticalsvg {height: 100px;}


.dg.ac{position: fixed;
top: 0;
left: 0;
right: 0;
height: 0;
z-index: 10!important;}




/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 150px;
}





// example includes for compass

// @include border-radius(50%);
// @include box-shadow(inset 0 0 0 3px rgba(255,255,255,1));
// @include transition(0.5s);
// @include backface-visibility(hidden);
// @include border-radius(50%);
// @include box-shadow(inset 0 0 0 3px rgba(255,255,255,1));
// @include transition(0.5s);
// @include backface-visibility(hidden);
// @include background-size(cover);
// @include transform(rotateZ(-45deg));
// @include perspective(1000px);
// @include transition(transform 0.3s);
// @include transform-origin(50% 0 0);
// @include transform-style(preserve-3d);
// @include transform(rotateX(90deg) translateY(-22px));







//                                                                    ____
//      ____  ____  ___  ____  ____ _____ ____  ___________________  / / /
//     / __ \/ __ \/ _ \/ __ \/ __ `/ __ `/ _ \/ ___/ ___/ ___/ __ \/ / / 
//    / /_/ / / / /  __/ /_/ / /_/ / /_/ /  __(__  ) /__/ /  / /_/ / / /  
//    \____/_/ /_/\___/ .___/\__,_/\__, /\___/____/\___/_/   \____/_/_/   
//                   /_/          /____/                                  


.onepage-wrapper { padding: 0; width: 100%; height: 100%; }
.onepage-wrapper { width: 100%; height: 100%; display: block; position: relative; padding: 0; -webkit-transform-style: preserve-3d; }
.onepage-wrapper .slide { width: 100%; height: 100%; }

.onepage-pagination { position: absolute; right: 10px; top: 50%; z-index: 5; list-style: none; margin: 0; padding: 0; }
.onepage-pagination li { padding: 0; text-align: center; }
.onepage-pagination li a { padding: 10px; width: 4px; height: 4px; display: block; }
.onepage-pagination li a:before { content: ''; position: absolute; width: 4px; height: 4px; background: $navyblue; border-radius: 10px;margin-top: 0px; left: 7px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.onepage-pagination li a.active:before { width: 10px; height: 10px; background: none; border: 1px solid black; background: transparent; margin-top: -4px; left: 4px; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper { overflow: auto }
.disabled-onepage-scroll .onepage-wrapper .slide { position: relative !important; top: auto !important; }
.disabled-onepage-scroll .onepage-wrapper { -webkit-transform: none !important; -moz-transform: none !important; transform: none !important; -ms-transform: none !important; min-height: 100%; }
.disabled-onepage-scroll .onepage-pagination { display: none }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html { position: inherit }





// svg list-style-position: 
.htmlst0{fill:#E34F26;}
.htmlst1{fill:#EBEBEB;}
.htmlst2{fill:#EF652A;}
.htmlst3{fill:#FFFFFF;}

.css3st0{fill:#131313;}
.css3st1{fill:#1572B6;}
.css3st2{fill:#EBEBEB;}
.css3st3{fill:#FFFFFF;}
.css3st4{fill:#33A9DC;}

.nodejs1{fill-rule:evenodd;clip-rule:evenodd;fill:#47483E;}
.nodejs2{fill:#90C740;}
.nodejs3{fill-rule:evenodd;clip-rule:evenodd;fill:#90C740;}

.react0{fill:#222222;}
.react1{fill:#00D8FF;}




@media screen and (max-width: 375px){

    .aboutme {

        .jumbotron {
            font-size: 115%;
            width: auto;
            height: auto;
        }
    }

    .skillset{
        .jumbotron{
            width: auto;
            height: auto;   
        }

        svg {
            width: 64px;
            height: 76px;
        }
    }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 970px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.p404{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height:100vh;
    font-size:460%;
    cite{
        display: block;
    }

    span{
        display: block;
        font-size: 30%;
    }
}