meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Volkan Ongun - Web Product Engineer

link(rel='stylesheet', href='./css/styles.scss')
link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

meta(name='description', content='')
meta(name='viewport', content='width=device-width')
meta(name='description', content='Web Product Engineer, Javascript Developer, Javascript, HTML5, CSS3, webGL')
meta(name='keywords', content='Volkan Ongun, ui/ux engineer, web product engineer, developer, javascript developer, user experience, frontend developer,javascript,html5,css3,canvas,webgl,advergame,game,indie games,argentina tango')
meta(name='robots', content='index, follow')
meta(name='author', content='Volkan Ongun')
meta(name='copyright', content='Volkan Ongun')
meta(name='publisher', content='Volkan Ongun')
meta(name='designer', content='Volkan Ongun')

meta(name="google-site-verification", content="I6I8iHeP-qajzKl4xACd0tm0SDezorhgOrE4LVNwsoc")

// Facebook
meta(property='og:title', content='Portfolio of Volkan Ongun | Web Product Engineer')
meta(property='og:site_name', content='Portfolio of Volkan Ongun | Web Product Engineer')
meta(property='og:description', content='Web Product Engineer,Designer,Developer,Frontend Developer,Born in Web,Javascript,HTML5,CSS3,webGL Games,user experience')
meta(property='og:url', content='http://www.volkanongun.com')
meta(property='og:image', content='http://www.volkanongun.com/images/sharefb.jpg')
meta(property='og:type', content='website')

// Twitter
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='Portfolio of Volkan Ongun | Web Product Engineer')
meta(name='twitter:description', content='Web Product Engineer, Designer, Developer, Frontend Developer,Born in Web, Javascript,HTML5,CSS3,webGL Games,user experience')
meta(name='twitter:site', content='@volkanongun')
meta(name='twitter:creator', content='@volkanongun')
meta(name='twitter:url', content='http://www.volkanongun.com')
meta(name='twitter:image', content='http://www.volkanongun.com/images/sharetw.jpg')

meta(name='msapplication-TileColor', content='#202020')

script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-158731909-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-158731909-1');

