doctype html
head
  include head.pug

body

  #st-container.st-container
    // content push wrapper
    .st-pusher
      include nav.pug

      .st-content
        include ./content/main.pug

        include ./content/picusweb.pug 
        
        include ./content/picusapp.pug

        include ./content/itf2015.pug

        include ./content/nestle.pug

        include ./content/loreal.pug

        include ./content/kinder.pug

        include ./content/macfit.pug

        include ./content/akbank.pug

        include ./content/istinyepark.pug

        include ./content/koding.pug

        include ./content/extrasolar.pug

        include ./content/ggj2013.pug

        include ./content/ggj2016.pug

        include ./content/innovationJam.pug

        include ./content/ggj2017.pug

        include ./content/prototype.pug

        include ./content/wiidoo.pug

        .arrow.pagescroller
          .icon.icon-arrow-right
          .square
            span
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='22.5px', height='15px', viewbox='0 0 22.5 15', style='enable-background:new 0 0 22.5 15;', xml:space='preserve')
                polygon.st0(points='22.5,0 11.3,15 0,0 4.5,0 11.3,9.8 18.1,0 ')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')

  script(src='./js/jquery.onepage-scroll.min.js')
  script(src='./js/animatecss.js')
  script(src='./js/main.js')


