nav.st-menu.leftIn
  h2
    a(href='/')
      svg#logo(xmlns='http://www.w3.org/2000/svg', width='100%', height='114.8', viewbox='25 32.8 241.3 114.8', enable-background='new 25 32.8 241.3 114.8')
        path(d='M80.8 32.9l13.1 28 14.6-28.3 51 .3-66.6 113.4-67.9-113.4h55.8zm116.6 113.7l-31.6-17.4-15.4-32.7 6.8-35.5 26.3-24.7 35.8-4.5 31.6 17.4 15.4 32.7-6.8 35.5-26.3 24.7-35.8 4.5z')
  ul
    li
      a.home(data-page='home', href='javascript:;')
        span
        cite Home
    li
      a.submenu(data-effect='works', href='javascript:;')
        span
        cite Works
    li
      a.submenu(data-effect='games', href='javascript:;')
        span
        cite Games
    li
      a.contact(data-page='contact', href='javascript:;')
        span
        cite Contact

nav.st-menu.works
  ul
    li
      a.picusweb(href='javascript:;', data-page='wiidoo')
        span
        cite wiidoo
    li
      a.picusweb(href='javascript:;', data-page='picusweb')
        span
        cite PICUS WEB
    li
      a.picusapp(href='javascript:;', data-page='picusapp')
        span
        cite PICUS APP
    li
      a.itf2015(href='javascript:;', data-page='itf2015')
        span
        cite ITF 2015
    li
      a.nestle(href='javascript:;', data-page='nestle')
        span
        cite NESTLE
    li
      a.kinder(href='javascript:;', data-page='kinder')
        span
        cite KINDER
    li
      a.macfit(href='javascript:;', data-page='macfit')
        span
        cite MACFIT
    li
      a.loreal(href='javascript:;', data-page='loreal')
        span
        cite LOREAL
    li
      a.akbank(href='javascript:;', data-page='akbank')
        span
        cite AKBANK
    li
      a.istinyepark(href='javascript:;', data-page='istinyepark')
        span
        cite İSTİNYEPARK
    li
      a.koding(href='javascript:;', data-page='koding')
        span
        cite KODING

nav.st-menu.games
  ul
    li
      a.extrasolar(href='javascript:;', data-page='extrasolar')
        span
        cite EXTRASOLAR
    li
      a.ggj2013(href='javascript:;', data-page='ggj2013')
        span
        cite GGJ 2013
    li
      a.ggj2016(href='javascript:;', data-page='ggj2016')
        span
        cite GGJ 2016
    li
      a.innovationJam(href='javascript:;', data-page='innovationJam')
        span
        cite InnoJam 2016
    li
      a.ggj2017(href='javascript:;', data-page='ggj2017')
        span
        cite GGJ 2017
    li
      a.prototype(href='javascript:;', data-page='prototype')
        span
        cite Prototype

a#openMenu(href='javascript:;', data-effect='leftIn')
  i.glyphicon.glyphicon-align-justify
  |  Menu